<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./static/css/global.css" />
    <link rel="stylesheet" href="./static/css/index.css" />
    
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:ital,wght@0,700;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="oficial">
      <div class="imagen3-2-parent">
        <img class="imagen3-2-icon" alt="" src="./static/img/imagen3-2@2x.png" />

        <div class="magia-hecha-a">PasiónArtesana</div>
      </div>
      <div class="frame">
        <div class="vector-wrapper">
          <img class="vector-icon" alt="" src="./static/img/vector1.svg" />
        </div>
      </div>
      <div class="frame1">
        <div class="menu-item">
          <div class="inicio-wrapper">
            <div class="inicio">Inicio</div>
          </div>
          <div class="inicio-wrapper">
            <div class="inicio">sobre nosotros</div>
          </div>
          <div class="inicio-wrapper">
            <div class="inicio">comunidad</div>
          </div>
        </div>
      </div>
      <img
        class="hermosa-foto-arbol-montanas-di-icon" alt="" src="./static/img/hermosafotoarbolmontanasdistanciacieloazulclaro-2@2x.png" />
      <div class="chris-ralston-09hgdzzkp-q-unsp-wrapper">
        <img
          class="chris-ralston-09hgdzzkp-q-unsp-icon" alt="" src="./static/img/chrisralston09hgdzzkpqunsplash-2@2x.png" />
      </div>
      <div class="oficial-inner">
        <div class="cual-es-nuestro-objetivo-parent">
          <b class="cual-es-nuestro">Cual es nuestro objetivo</b>
          <b class="nuestra-misin-es"
            >Nuestra misión es conectar con los artesanos y artistas de todo el
            país, destacando sus habilidades únicas, promoviendo sus productos y
            fomentando la expresión artística a través del uso de materiales
            reciclados. Buscamos proporcionarles una plataforma que les brinde
            visibilidad y, lo más importante, una oportunidad para
            prosperar..</b>
          <div class="explora-la-tienda-wrapper" id="frameContainer8">
            <div class="explora-la-tienda">Explora la tienda</div>
          </div>
        </div>
      </div>
      <div class="descubre-crea-comparte-parent">
        <div class="descubre-crea-comparte">Descubre, Crea, comparte</div>
        <div class="descubre-los-porductos">
          Descubre los porductos y servicios de nuestros artesanos
        </div>
      </div>
      <div class="frame-parent">
        <div class="frame-group">
          <div class="dsc09098-1-1-parent">
            <img
              class="dsc09098-1-1-icon" alt="" src="./static/img/dsc090981-1@2x.png"/>
            <div class="rectangle-parent">
              <div class="frame-child"></div>
              <div class="frame-container">
                <div class="marcador-de-posicion-1-parent">
                  <img
                    class="marcador-de-posicion-1-icon" alt="" src="./static/img/marcadordeposicion-11@2x.png"/>

                  <div class="inicio">Region del Bio Bio</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="frame-div">
            <div class="frame-item"></div>
            <div class="zapatero-parent">
              <div class="magia-hecha-a">Zapatero</div>
              <div class="revisar-servicio">Revisar Servicio</div>
            </div>
          </div>
        </div>
        <div class="frame-group">
          <div class="dsc09098-1-1-parent">
            <img
              class="horizontal-0007-hector-arane-icon" alt="" src="./static/img/captura-de-pantalla-20231126-a-las-2007-1@2x.png" />
            <div class="rectangle-parent">
              <div class="frame-child"></div>
              <div class="frame-container">
                <div class="marcador-de-posicion-1-parent">
                  <img
                    class="marcador-de-posicion-1-icon" alt="" src="./static/img/marcadordeposicion-11@2x.png"/>
                  <div class="inicio">Region del Bio Bio</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="frame-div">
            <div class="frame-item"></div>
            <div class="zapatero-parent">
              <div class="magia-hecha-a">Emboque chileno</div>
              <div class="revisar-servicio">Revisar Producto</div>
            </div>
          </div>
        </div>
        <div class="frame-group">
          <div class="dsc09098-1-1-parent">
            <img
              class="horizontal-0007-hector-arane-icon" alt="" src="./static/img/captura-de-pantalla-20231126-a-las-2009-1@2x.png"/>
            <div class="rectangle-parent">
              <div class="frame-child"></div>
              <div class="frame-container">
                <div class="marcador-de-posicion-1-parent">
                  <img
                    class="marcador-de-posicion-1-icon" alt="" src="./static/img/marcadordeposicion-11@2x.png"/>
                  <div class="inicio">Region del Bio Bio</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="frame-div">
            <div class="frame-item"></div>
            <div class="zapatero-parent">
              <div class="magia-hecha-a">Chupalla Tòrola</div>
              <div class="revisar-servicio">Revisar Producto</div>
            </div>
          </div>
        </div>
        <div class="frame-group">
          <div class="dsc09098-1-1-parent">
            <img
              class="captura-de-pantalla-2023-11-262" alt="" src="./static/img/captura-de-pantalla-20231126-a-las-2013-1@2x.png"/>
            <div class="rectangle-parent">
              <div class="frame-child"></div>
              <div class="frame-container">
                <div class="marcador-de-posicion-1-parent">
                  <img
                    class="marcador-de-posicion-1-icon" alt="" src="./static/img/marcadordeposicion-11@2x.png"/>
                  <div class="inicio">Region del Bio Bio</div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-div">
            <div class="frame-item"></div>
            <div class="zapatero-parent">
              <div class="magia-hecha-a">Pebrera pepa brava</div>
              <div class="revisar-servicio">Revisar Producto</div>
            </div>
          </div>
        </div>
        <div class="frame-group">
          <div class="dsc09098-1-1-parent">
            <img
              class="horizontal-0007-hector-arane-icon" alt="" src="./static/img/horizontal-0007-hectoraranedaensubancodetrabajo-1@2x.png" />
            <div class="rectangle-parent">
              <div class="frame-child"></div>
              <div class="frame-container">
                <div class="marcador-de-posicion-1-parent">
                  <img
                    class="marcador-de-posicion-1-icon" alt="" src="./static/img/marcadordeposicion-11@2x.png"/>
                  <div class="inicio">Region del Bio Bio</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="frame-div">
            <div class="frame-item"></div>
            <div class="zapatero-parent">
              <div class="magia-hecha-a">Ebanista</div>
              <div class="revisar-servicio">Revisar Servicio</div>
            </div>
          </div>
        </div>
        <div class="frame-group">
          <div class="dsc09098-1-1-parent">
            <img
              class="horizontal-0007-hector-arane-icon" alt="" src="./static/img/frame-4772@3x.png" />
            <div class="rectangle-parent">
              <div class="frame-child"></div>
              <div class="frame-container">
                <div class="marcador-de-posicion-1-parent">
                  <img
                    class="marcador-de-posicion-1-icon" alt=""  src="./static/img/marcadordeposicion-11@2x.png"/>
                  <div class="inicio">Region del Bio Bio</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="frame-div">
            <div class="frame-item"></div>
            <div class="zapatero-parent">
              <div class="magia-hecha-a">Carpintero</div>
              <div class="revisar-servicio">Revisar Servicion</div>
            </div>
          </div>
        </div>
      </div>
      <div class="ver-todo-wrapper" id="frameContainer54">
        <div class="explora-la-tienda">Ver Todo</div>
      </div>
      <img
        class="captura-de-pantalla-2023-11-263"
        alt=""
        src="./static/img/captura-de-pantalla-20231126-a-las-2135-2@2x.png"/>
      <div class="que-opinan-los-clientes-wrapper">
        <div class="magia-hecha-a">Que opinan los clientes</div>
      </div>
      <div class="frame-parent16">
        <div class="frame-wrapper">
          <div class="vector-parent">
            <img class="vector-icon1" alt="" src="./static/img/vector.svg" />
            <div class="frame-parent17">
              <div class="frame-parent18">
                <div class="menu-parent">
                  <div class="frame-parent20">
                    <div class="image-17-parent">
                      <img class="image-17-icon" alt="" src="./static/img/image-17@2x.png" />
                      <img
                        class="f768x1-29378-29505-0-1-icon" alt="" src="./static/img/f768x129378-29505-0-1@2x.png" />
                    </div>
                    <div class="cesta-fungi-parent">
                      <div class="magia-hecha-a">Cesta Fungi</div>
                      <div class="arturo-vidal">Arturo Vidal</div>
                    </div>
                  </div>
                  <div class="frame-parent21">
                    <div class="vector-group">
                      <img
                        class="vector-icon2" alt="" src="./static/img/vector2.svg"/>
                      <img
                        class="vector-icon2" alt="" src="./static/img/vector3.svg" />
                      <img
                        class="vector-icon2" alt="" src="./static/img/vector4.svg" />
                      <img
                        class="vector-icon2" alt="" src="./static/img/vector5.svg" />
                      <img
                        class="vector-icon2" alt="" src="./static/img/vector6.svg" />
                    </div>
                    <div class="me-encanta-mi">
                      ¡Me encanta mi nueva cesta de paja para frutas de la
                      tienda local! La artesanía es increíble, y el toque
                      rústico le da un encanto único. ¡Una elección perfecta
                      para apoyar a los artesanos locales!
                    </div>
                  </div>
                </div>
                <div class="oct2021-3-1-wrapper">
                  <img class="oct2021-3-1-icon" alt="" src="./static/img/oct20213-1@2x.png"/>
                </div>
              </div>
              <div class="vector-container">
                <img class="vector-icon7" alt="" src="./static/img/vector7.svg" />
                <div class="inicio">5</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper">
          <div class="vector-parent">
            <img class="vector-icon1" alt="" src="./static/img/vector.svg" />
            <div class="frame-parent17">
              <div class="frame-parent18">
                <div class="menu-parent">
                  <div class="frame-parent20">
                    <div class="image-17-parent">
                      <img
                        class="image-17-icon" alt="" src="./static/img/image-171@2x.png"/>
                      <img
                        class="f768x1-29378-29505-0-1-icon" alt="" src="./static/img/f768x129378-29505-0-11@2x.png"/>
                    </div>
                    <div class="cesta-fungi-parent">
                      <div class="magia-hecha-a">Cesta Fungi</div>
                      <div class="arturo-vidal">Arturo Vidal</div>
                    </div>
                  </div>
                  <div class="frame-parent21">
                    <div class="vector-group">
                      <img
                        class="vector-icon2" alt="" src="./static/img/vector2.svg"/>
                      <img
                        class="vector-icon2" alt="" src="./static/img/vector3.svg" />
                      <img
                        class="vector-icon2" alt="" src="./static/img/vector4.svg" />
                      <img
                        class="vector-icon2" alt="" src="./static/img/vector5.svg" />
                      <img
                        class="vector-icon2" alt="" src="./static/img/vector6.svg" />
                    </div>
                    <div class="me-encanta-mi">
                      ¡Increíble colgante de kopiwe! Su diseño único y artesanía
                      excepcional lo hacen destacar. ¡El toque perfecto para
                      cualquier atuendo!
                    </div>
                  </div>
                </div>
                <div class="oct2021-3-1-wrapper">
                  <img
                    class="img-4319-1-icon" alt="" src="./static/img/4img-4319-1@2x.png" />
                </div>
              </div>
              <div class="vector-container">
                <img class="vector-icon7" alt="" src="./static/img/vector7.svg" />
                <div class="inicio">5</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper">
          <div class="vector-parent">
            <img class="vector-icon1" alt="" src="./static/img/vector.svg" />
            <div class="frame-parent17">
              <div class="frame-wrapper3">
                <div class="menu-parent">
                  <div class="frame-parent20">
                    <div class="image-17-parent">
                      <img
                        class="image-17-icon" alt="" src="./static/img/image-17@2x.png" />
                      <img
                        class="f768x1-29378-29505-0-1-icon" alt="" src="./static/img/f768x129378-29505-0-1@2x.png" />
                    </div>
                    <div class="cesta-fungi-parent">
                      <div class="magia-hecha-a">Cesta Fungi</div>
                      <div class="arturo-vidal">Arturo Vidal</div>
                    </div>
                  </div>
                  <div class="frame-parent21">
                    <div class="vector-group">
                      <img
                        class="vector-icon2" alt="" src="./static/img/vector2.svg"/>
                      <img
                        class="vector-icon2" alt="" src="./static/img/vector3.svg" />
                      <img
                        class="vector-icon2" alt="" src="./static/img/vector4.svg" />
                      <img
                        class="vector-icon2" alt="" src="./static/img/vector5.svg" />
                      <img
                        class="vector-icon2" alt="" src="./static/img/vector6.svg" />
                    </div>
                    <div class="me-encanta-mi">
                      ¡Me encanta mi nueva cesta de paja para frutas de la
                      tienda local! La artesanía es increíble, y el toque
                      rústico le da un encanto único. ¡Una elección perfecta
                      para apoyar a los artesanos locales!
                    </div>
                  </div>
                </div>
              </div>
              <div class="image-10-parent">
                <img
                  class="image-10-icon" alt="" src="./static/img/image-10@2x.png"/>
                <img
                  class="esfera-28-1-icon" alt="" src="./static/img/esfera28-1@2x.png"/>
              </div>
              <div class="vector-container">
                <img class="vector-icon7" alt="" src="./static/img/vector7.svg" />
                <div class="inicio">5</div>
              </div>
            </div>
          </div>
        </div>
        <div class="vector-parent">
          <img class="vector-icon1" alt="" src="./static/img/vector.svg" />
          <div class="frame-parent17">
            <div class="frame-parent18">
              <div class="menu-parent">
                <div class="frame-parent20">
                  <div class="image-17-parent">
                    <img
                      class="image-17-icon"  alt="" src="./static/img/image-17@2x.png"/>
                    <img
                      class="f768x1-29378-29505-0-1-icon"  alt="" src="./static/img/f768x129378-29505-0-1@2x.png" />
                  </div>
                  <div class="cesta-fungi-parent">
                    <div class="magia-hecha-a">Cesta Fungi</div>
                    <div class="arturo-vidal">Arturo Vidal</div>
                  </div>
                </div>
                <div class="frame-parent21">
                  <div class="vector-group">
                    <img
                      class="vector-icon2" alt="" src="./static/img/vector2.svg"/>
                    <img
                      class="vector-icon2" alt="" src="./static/img/vector3.svg" />
                    <img
                      class="vector-icon2" alt="" src="./static/img/vector4.svg" />
                    <img
                      class="vector-icon2" alt="" src="./static/img/vector5.svg" />
                    <img
                      class="vector-icon2" alt="" src="./static/img/vector6.svg" />
                  </div>
                  <div class="me-encanta-mi">
                    ¡Me encanta mi nueva cesta de paja para frutas de la tienda
                    local! La artesanía es increíble, y el toque rústico le da
                    un encanto único. ¡Una elección perfecta para apoyar a los
                    artesanos locales!
                  </div>
                </div>
              </div>
              <div class="oct2021-3-1-wrapper">
                <img
                  class="oct2021-3-1-icon" alt="" src="./static/img/oct20213-1@2x.png"/>
              </div>
            </div>
            <div class="vector-container">
              <img class="vector-icon7" alt="" src="./static/img/vector7.svg" />
              <div class="inicio">5</div>
            </div>
          </div>
        </div>
      </div>
      <div class="captura-de-pantalla-2023-12-08"></div>
      <img
        class="captura-de-pantalla-2023-12-081" alt="" src="./static/img/captura-de-pantalla-20231208-a-las-2117-1@2x.png"/>
      <div class="frame-parent36">
        <div class="menu-parent">
          <div class="magia-hecha-a">Menu</div>
          <div class="frame-parent21">
            <div class="inicio">Home</div>
            <div class="comunidad1" id="comunidadText1">Comunidad</div>
            <div class="inicio">Sobre nosotros</div>
          </div>
        </div>
        <div class="menu-parent">
          <div class="magia-hecha-a">Categorias</div>
          <div class="frame-frame">
            <div class="frame3">
              <div class="inicio">servicios</div>
              <div class="productos">Productos</div>
              <div class="text"></div>
            </div>
          </div>
        </div>
        <div class="menu-parent">
          <div class="magia-hecha-a">Social</div>
          <div class="instagram-parent">
            <div class="inicio">Instagram</div>
            <div class="xtwitter">X(twitter)</div>
            <div class="inicio">Youtube</div>
            <div class="inicio">Facebook</div>
          </div>
        </div>
      </div>
      <div class="ingresa-tu-correo-para-mas-inf-parent">
        <div class="magia-hecha-a">Ingresa tu correo para mas infomacion:</div>
        <div class="frame-parent37">
          <div class="ingresa-tu-imail-aqui-parent">
            <div class="inicio">Ingresa tu imail aqui...</div>
            <div class="enviar-wrapper" id="frameContainer112">
              <div class="enviar">Enviar</div>
            </div>
          </div>
          <div class="line-div"></div>
        </div>
      </div>
      <div class="frame-parent38">
        <div class="sobre-nosotros-parent">
          <div class="sobre-nosotros2">Sobre nosotros</div>
          <i class="nuestra-misin-es1"
            >Nuestra misión es conectar con los artesanos y artistas de todo el
            país, destacando sus habilidades únicas, promoviendo sus productos y
            fomentando la expresión artística a través del uso de materiales
            reciclados. Buscamos proporcionarles una plataforma que les brinde
            visibilidad y, lo más importante, una oportunidad para
            prosperar..</i
          >
        </div>
        <div class="saber-mas-wrapper" id="frameContainer117">
          <div class="enviar">Saber mas</div>
        </div>
      </div>
    </div>

    <script>
      var frameContainer8 = document.getElementById("frameContainer8");
      if (frameContainer8) {
        frameContainer8.addEventListener("click", function (e) {
          // Please sync "feed artesanos" to the project
        });
      }
      
      var frameContainer54 = document.getElementById("frameContainer54");
      if (frameContainer54) {
        frameContainer54.addEventListener("click", function (e) {
          // Please sync "feed artesanos" to the project
        });
      }
      
      var comunidadText1 = document.getElementById("comunidadText1");
      if (comunidadText1) {
        comunidadText1.addEventListener("click", function (e) {
          // Please sync "Mural de noticias" to the project
        });
      }
      
      var frameContainer112 = document.getElementById("frameContainer112");
      if (frameContainer112) {
        frameContainer112.addEventListener("click", function (e) {
          // Please sync "feed artesanos" to the project
        });
      }
      
      var frameContainer117 = document.getElementById("frameContainer117");
      if (frameContainer117) {
        frameContainer117.addEventListener("click", function (e) {
          // Please sync "feed artesanos" to the project
        });
      }
      </script>
  </body>
</html>
