<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./static/css/global.css" />
    <link rel="stylesheet" href="./static/css/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:ital,wght@0,700;1,600&display=swap"
    />
  </head>
  <body>
    <div class="index1">
      <div class="rectangle"></div>
      <img
        class="imagenfinalinicio-icon"
        alt=""
        src="./static/img/imagenfinalinicio@2x.png"
      />

      <img
        class="logoreciclajemontaa-icon"
        alt=""
        src="./static/img/logoreciclajemontaa@2x.png"
      />

      <img
        class="imagenaraucaria-icon"
        alt=""
        src="./static/img/imagenaraucaria@2x.png"
      />

      <div class="auto-layout-vertical">
        <div class="pesebre-asis">Ingresa tu correo para mas infomacion:</div>
        <div class="auto-layout-vertical1">
          <div class="auto-layout-horizontal">
            <div class="ingresa-tu-imail2">Ingresa tu email aqui...</div>
            <div class="auto-layout-horizontal1">
              <div class="enviar2">Enviar</div>
            </div>
          </div>
          <div class="line"></div>
        </div>
      </div>
      <div class="auto-layout-vertical2">
        <div class="auto-layout-vertical3">
          <div class="sobre-nosotros2">Sobre nosotros</div>
          <i class="nuestra-misin-es"
            >Nuestra misión es conectar con los artesanos y artistas de todo el
            país, destacando sus habilidades únicas, promoviendo sus productos y
            fomentando la expresión artística a través del uso de materiales
            reciclados. Buscamos proporcionarles una plataforma que les brinde
            visibilidad y, lo más importante, una oportunidad para
            prosperar..</i
          >
        </div>
        <div class="auto-layout-horizontal2">
          <div class="saber-mas" id="saberMasText">Saber mas</div>
        </div>
      </div>
      <div class="auto-layout-vertical4">
        <div class="descubre-crea-comparte">Descubre, Crea, comparte</div>
        <div class="descubre-los-porductos1">
          Descubre los porductos y servicios de nuestros artesanos
        </div>
      </div>
      <div class="auto-layout-vertical5">
        <b class="cual-es-nuestro">Cual es nuestro objetivo</b>
        <b class="nuestra-misin-es1"
          >Nuestra misión es conectar con los artesanos y artistas de todo el
          país, destacando sus habilidades únicas, promoviendo sus productos y
          fomentando la expresión artística a través del uso de materiales
          reciclados. Buscamos proporcionarles una plataforma que les brinde
          visibilidad y, lo más importante, una oportunidad para prosperar..</b
        >
        <div class="auto-layout-horizontal3">
          <div class="explora-la-tienda" id="exploraLaTienda">
            Explora la tienda
          </div>
        </div>
      </div>
      <div class="auto-layout-vertical6">
        <div class="auto-layout-horizontal4">
          <img
            class="logininicio-icon"
            alt=""
            src="./static/img/logininicio.svg"
            id="logininicioIcon"
          />
        </div>
      </div>
      <div class="menuinicio">
        <div class="opcionesmenuinicio">
          <div class="publicar3">
            <div class="publicar4" id="publicarText">Publicar</div>
          </div>
          <div class="publicar3">
            <div class="publicar4" id="comunidadText">comunidad</div>
          </div>
        </div>
      </div>
      <div class="menucategoriassocialinicio">
        <div class="auto-layout-vertical7">
          <div class="pesebre-asis">Menu</div>
          <div class="menucategorias">
            <div class="publicar4" id="comunidadText1">Comunidad</div>
            <div class="publicar4" id="sobreNosotrosText1">Sobre nosotros</div>
            <div class="publicar4" id="publicarText1">Publicar</div>
          </div>
        </div>
        <div class="auto-layout-vertical7">
          <div class="pesebre-asis">Categorias</div>
          <div class="auto-layout-horizontal5">
            <div class="auto-layout-vertical9">
              <div class="ingresa-tu-imail2" id="servicios">servicios</div>
              <div class="productos1" id="productosText">Productos</div>
              <div class="div"></div>
            </div>
          </div>
        </div>
        <div class="auto-layout-vertical7">
          <div class="pesebre-asis">Social</div>
          <div class="auto-layout-vertical11">
            <div class="ingresa-tu-imail2">Instagram</div>
            <div class="xtwitter2">X(twitter)</div>
            <div class="ingresa-tu-imail2">Youtube</div>
            <div class="ingresa-tu-imail2">Facebook</div>
          </div>
        </div>
      </div>
      <div class="auto-layout-horizontal6">
        <div class="auto-layout-horizontal7">
          <div class="frame5">
            <img class="vector-icon" alt="" src="./static/img/vector.svg" />

            <div class="auto-layout-vertical12">
              <div class="auto-layout-vertical13">
                <div class="auto-layout-vertical7">
                  <div class="auto-layout-horizontal8">
                    <div class="frame6">
                      <img
                        class="fotoperfilresea1-icon"
                        alt=""
                        src="./static/img/fotoperfilresea1@2x.png"
                      />
                    </div>
                    <div class="auto-layout-vertical15">
                      <div class="pesebre-asis">Pesebre Asis</div>
                      <div class="miguel-zapata">Miguel zapata</div>
                    </div>
                  </div>
                  <div class="menucategorias">
                    <div class="auto-layout-horizontal9">
                      <img
                        class="vector-icon1"
                        alt=""
                        src="./static/img/vector1.svg"
                      />

                      <img
                        class="vector-icon1"
                        alt=""
                        src="./static/img/vector2.svg"
                      />

                      <img
                        class="vector-icon1"
                        alt=""
                        src="./static/img/vector3.svg"
                      />

                      <img
                        class="vector-icon1"
                        alt=""
                        src="./static/img/vector4.svg"
                      />

                      <img
                        class="vector-icon1"
                        alt=""
                        src="./static/img/vector5.svg"
                      />
                    </div>
                    <div class="me-encanta-mi">
                      ¡Me encanta mi nueva cesta de paja para frutas de la
                      tienda local! La artesanía es increíble, y el toque
                      rústico le da un encanto único. ¡Una elección perfecta
                      para apoyar a los artesanos locales!
                    </div>
                  </div>
                </div>
                <div class="auto-layout-vertical17">
                  <img
                    class="fotoresea1-icon"
                    alt=""
                    src="./static/img/pesebre1.png"
                  />
                </div>
              </div>
              <div class="auto-layout-horizontal10">
                <img class="vector-icon6" alt="" src="./static/img/vector6.svg" />

                <div class="ingresa-tu-imail2">5</div>
              </div>
            </div>
          </div>
        </div>
        <div class="auto-layout-horizontal7">
          <div class="frame5">
            <img class="vector-icon" alt="" src="./static/img/vector.svg" />

            <div class="auto-layout-vertical12">
              <div class="auto-layout-vertical13">
                <div class="auto-layout-vertical7">
                  <div class="auto-layout-horizontal8">
                    <div class="frame6">
                      <div class="frame9">
                        <img
                          class="fotoperfilresea2-icon"
                          alt=""
                          src="./static/img/fotoperfilresea2@2x.png"
                        />
                      </div>
                    </div>
                    <div class="auto-layout-vertical15">
                      <div class="pesebre-asis">Colgante Copihue</div>
                      <div class="miguel-zapata">Arturo Gonzales</div>
                    </div>
                  </div>
                  <div class="menucategorias">
                    <div class="auto-layout-horizontal9">
                      <img
                        class="vector-icon1"
                        alt=""
                        src="./static/img/vector1.svg"
                      />

                      <img
                        class="vector-icon1"
                        alt=""
                        src="./static/img/vector2.svg"
                      />

                      <img
                        class="vector-icon1"
                        alt=""
                        src="./static/img/vector3.svg"
                      />

                      <img
                        class="vector-icon1"
                        alt=""
                        src="./static/img/vector4.svg"
                      />

                      <img
                        class="vector-icon1"
                        alt=""
                        src="./static/img/vector5.svg"
                      />
                    </div>
                    <div class="me-encanta-mi">
                      ¡Increíble colgante de Copihue! Su diseño único y artesanía
                      excepcional lo hacen destacar. ¡El toque perfecto para
                      cualquier atuendo!
                    </div>
                  </div>
                </div>
                <div class="auto-layout-vertical17">
                  <img
                    class="fotoresea2-icon"
                    alt=""
                    src="./static/img/colgante1.png"
                  />
                </div>
              </div>
              <div class="auto-layout-horizontal10">
                <img class="vector-icon6" alt="" src="./static/img/vector6.svg" />

                <div class="ingresa-tu-imail2">5</div>
              </div>
            </div>
          </div>
        </div>
        <div class="auto-layout-horizontal7">
          <div class="frame5">
            <img class="vector-icon" alt="" src="./static/img/vector.svg" />

            <div class="auto-layout-vertical12">
              <div class="auto-layout-vertical25">
                <div class="auto-layout-vertical7">
                  <div class="auto-layout-horizontal8">
                    <div class="frame6">
                      <img
                        class="fotoperfilresea3-icon"
                        alt=""
                        src="./static/img/fotoperfilresea3@2x.png"
                      />
                    </div>
                    <div class="auto-layout-vertical15">
                      <div class="pesebre-asis">Cesta Fungi</div>
                      <div class="miguel-zapata">Pepe Zapata</div>
                    </div>
                  </div>
                  <div class="menucategorias">
                    <div class="auto-layout-horizontal9">
                      <img
                        class="vector-icon1"
                        alt=""
                        src="./static/img/vector1.svg"
                      />

                      <img
                        class="vector-icon1"
                        alt=""
                        src="./static/img/vector2.svg"
                      />

                      <img
                        class="vector-icon1"
                        alt=""
                        src="./static/img/vector3.svg"
                      />

                      <img
                        class="vector-icon1"
                        alt=""
                        src="./static/img/vector4.svg"
                      />

                      <img
                        class="vector-icon1"
                        alt=""
                        src="./static/img/vector5.svg"
                      />
                    </div>
                    <div class="me-encanta-mi">
                      ¡El pesebre de porcelana que compré es simplemente
                      encantador! Cada detalle es exquisito, y su elegancia
                      añade un toque especial a mi decoración navideña. ¡Una
                      joya que ilumina mi hogar.
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame12">
                <img
                  class="fotoresea3-icon"
                  alt=""
                  src="./static/img/cestafunji1.png"
                />
              </div>
              <div class="auto-layout-horizontal10">
                <img class="vector-icon6" alt="" src="./static/img/vector6.svg" />

                <div class="ingresa-tu-imail2">5</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame5">
          <img class="vector-icon" alt="" src="./static/img/vector.svg" />

          <div class="auto-layout-vertical12">
            <div class="auto-layout-vertical13">
              <div class="auto-layout-vertical7">
                <div class="auto-layout-horizontal8">
                  <div class="frame6">
                    <div class="frame15">
                      <img
                        class="fotoperfilresea4-icon"
                        alt=""
                        src="./static/img/fotoperfilresea4@2x.png"
                      />
                    </div>
                  </div>
                  <div class="auto-layout-vertical15">
                    <div class="pesebre-asis">Cesta Fungi</div>
                    <div class="miguel-zapata">Alexis Ortega</div>
                  </div>
                </div>
                <div class="menucategorias">
                  <div class="auto-layout-horizontal9">
                    <img
                      class="vector-icon1"
                      alt=""
                      src="./static/img/vector1.svg"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="./static/img/vector2.svg"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="./static/img/vector3.svg"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="./static/img/vector4.svg"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="./static/img/vector5.svg"
                    />
                  </div>
                  <div class="me-encanta-mi">
                    ¡Me encanta mi nueva cesta de paja para frutas de la tienda
                    local! La artesanía es increíble, y el toque rústico le da
                    un encanto único. ¡Una elección perfecta para apoyar a los
                    artesanos locales!
                  </div>
                </div>
              </div>
              <div class="auto-layout-vertical17">
                <img
                  class="fotoresea1-icon"
                  alt=""
                  src="./static/img/cestafunji1.png"
                />
              </div>
            </div>
            <div class="auto-layout-horizontal10">
              <img class="vector-icon6" alt="" src="./static/img/vector6.svg" />
              <div class="ingresa-tu-imail2">5</div>
            </div>
          </div>
        </div>
      </div>
      <div class="auto-layout-horizontal22">
        <div class="pesebre-asis">Que opinan los clientes</div>
      </div>
      <div class="productosdestacados">
        <div class="productodestacado1">
          <div class="frame16">
            <img
              class="carpinteroinicio-icon"
              alt=""
              src="./static/img/carpintero3.png"
            />

            <div class="auto-layout-vertical35">
              <div class="rectangle1"></div>
              <div class="auto-layout-horizontal23">
                <div class="auto-layout-horizontal24">
                  <img class="image-icon" alt="" src="./static/img/image@2x.png" />

                  <div class="ingresa-tu-imail2">Region del Bio Bio</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="nombreproducto1">
            <div class="frame17"></div>
            <div class="auto-layout-vertical36">
              <div class="pesebre-asis">Zapatero</div>
              <div class="revisar-servicion">Revisar Servicio</div>
            </div>
          </div>
        </div>
        <div class="productodestacado1">
          <div class="frame16">
            <img
              class="emboqueinicio-icon"
              alt=""
              src="./static/img/emboque2.png"
            />

            <div class="auto-layout-vertical35">
              <div class="rectangle1"></div>
              <div class="auto-layout-horizontal23">
                <div class="auto-layout-horizontal24">
                  <img class="image-icon" alt="" src="./static/img/image@2x.png" />

                  <div class="ingresa-tu-imail2">Region del Bio Bio</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="nombreproducto1">
            <div class="frame17"></div>
            <div class="auto-layout-vertical36">
              <div class="pesebre-asis">Emboque chileno</div>
              <div class="revisar-servicion">Revisar Producto</div>
            </div>
          </div>
        </div>
        <div class="productodestacado1">
          <div class="frame16">
            <img
              class="pebrerainicio-icon"
              alt=""
              src="./static/img/pebrera1.png"
            />

            <div class="auto-layout-vertical35">
              <div class="rectangle1"></div>
              <div class="auto-layout-horizontal23">
                <div class="auto-layout-horizontal24">
                  <img class="image-icon" alt="" src="./static/img/image@2x.png" />

                  <div class="ingresa-tu-imail2">Region del Bio Bio</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="nombreproducto1">
            <div class="frame17"></div>
            <div class="auto-layout-vertical36">
              <div class="pesebre-asis">Pebrera pepa brava</div>
              <div class="revisar-servicion">Revisar Producto</div>
            </div>
          </div>
        </div>
        <div class="productodestacado1">
          <div class="frame16">
            <img
              class="emboqueinicio-icon"
              alt=""
              src="./static/img/ebanista1.png"
            />

            <div class="auto-layout-vertical35">
              <div class="rectangle1"></div>
              <div class="auto-layout-horizontal23">
                <div class="auto-layout-horizontal24">
                  <img class="image-icon" alt="" src="./static/img/image@2x.png" />

                  <div class="ingresa-tu-imail2">Region del Bio Bio</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="nombreproducto1">
            <div class="frame17"></div>
            <div class="auto-layout-vertical36">
              <div class="pesebre-asis">Ebanista</div>
              <div class="revisar-servicion">Revisar Servicio</div>
            </div>
          </div>
        </div>
        <div class="productodestacado1">
          <div class="frame16">
            <img
              class="emboqueinicio-icon"
              alt=""
              src="./static/img/carpintero2.png"
            />

            <div class="auto-layout-vertical35">
              <div class="rectangle1"></div>
              <div class="auto-layout-horizontal23">
                <div class="auto-layout-horizontal24">
                  <img class="image-icon" alt="" src="./static/img/image@2x.png" />

                  <div class="ingresa-tu-imail2">Region del Bio Bio</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="nombreproducto1">
            <div class="frame17"></div>
            <div class="auto-layout-vertical36">
              <div class="pesebre-asis">Carpintero</div>
              <div class="revisar-servicion">Revisar Servicion</div>
            </div>
          </div>
        </div>
        <div class="productodestacado1">
          <div class="frame16">
            <img
              class="emboqueinicio-icon"
              alt=""
              src="./static/img/carpintero1.png"
            />

            <div class="auto-layout-vertical35">
              <div class="rectangle1"></div>
              <div class="auto-layout-horizontal23">
                <div class="auto-layout-horizontal24">
                  <img class="image-icon" alt="" src="./static/img/image@2x.png" />

                  <div class="ingresa-tu-imail2">Region del Bio Bio</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="nombreproducto1">
            <div class="frame17"></div>
            <div class="auto-layout-vertical36">
              <div class="pesebre-asis">Carpintero</div>
              <div class="revisar-servicion">Revisar Servicio</div>
            </div>
          </div>
        </div>
      </div>
      <div class="botonvertodo">
        <div class="explora-la-tienda" id="verTodoText">Ver Todo</div>
      </div>
      <div class="logohorizontal">
        <img class="image-icon6" alt="" src="./static/img/image1@2x.png" />
      </div>
      <div class="logo-nombre">
        <img class="logoinicio-icon" alt="" src="./static/img/logotienda@2x.png" />

        <div class="pesebre-asis">PasiónArtesana</div>
      </div>
    </div>

    <script>
      var saberMasText = document.getElementById("saberMasText");
      if (saberMasText) {
        saberMasText.addEventListener("click", function (e) {
          window.location.href = "/sobrenosotros";
        });
      }
      
      var exploraLaTienda = document.getElementById("exploraLaTienda");
      if (exploraLaTienda) {
        exploraLaTienda.addEventListener("click", function (e) {
          window.location.href = "/tienda";
        });
      }
      
      var logininicioIcon = document.getElementById("logininicioIcon");
      if (logininicioIcon) {
        logininicioIcon.addEventListener("click", function (e) {
          window.location.href = "/perfil";
        });
      }
      
      var publicarText = document.getElementById("publicarText");
      if (publicarText) {
        publicarText.addEventListener("click", function (e) {
          window.location.href = "/publicar";
        });
      }
      
      var comunidadText = document.getElementById("comunidadText");
      if (comunidadText) {
        comunidadText.addEventListener("click", function (e) {
          window.location.href = "/noticias";
        });
      }
      
      var comunidadText1 = document.getElementById("comunidadText1");
      if (comunidadText1) {
        comunidadText1.addEventListener("click", function (e) {
          window.location.href = "/noticias";
        });
      }
      
      var sobreNosotrosText1 = document.getElementById("sobreNosotrosText1");
      if (sobreNosotrosText1) {
        sobreNosotrosText1.addEventListener("click", function (e) {
          window.location.href = "/sobrenosotros";
        });
      }
      
      var publicarText1 = document.getElementById("publicarText1");
      if (publicarText1) {
        publicarText1.addEventListener("click", function (e) {
          window.location.href = "/publicar";
        });
      }

      var servicios = document.getElementById("servicios");
      if (servicios) {
        servicios.addEventListener("click", function (e) {
          window.location.href = "/servicios";
        });
      }

      var productosText = document.getElementById("productosText");
      if (productosText) {
        productosText.addEventListener("click", function (e) {
          window.location.href = "/tienda";
        });
      }
      
      var verTodoText = document.getElementById("verTodoText");
      if (verTodoText) {
        verTodoText.addEventListener("click", function (e) {
          window.location.href = "/tienda";
        });
      }
      </script>
  </body>
</html>
