<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./static/css/global.css" />
    <link rel="stylesheet" href="./static/css/mural-de-noticias.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:ital,wght@0,700;1,600&display=swap"
    />
  </head>
  <body>
    <div class="mural-de-noticias">
      <div class="logoynombremuraldenoticias">
        <img
          class="logomuraldenoticias-icon"
          alt=""
          src="./static/img/logotienda@2x.png"
        />

        <div class="magia-hecha-a1">PasiónArtesana</div>
      </div>
      <!--mensaje usuario mural de noticias-->
      <div class="frame28">
        <div class="loginmuraldenoticias-wrapper">
          <span class="welcome-message">Bienvenido, [Nombre de Usuario]</span>
          <img class="loginmuraldenoticias-icon" alt="" src="./static/img/logintienda.svg" id="loginmuraldenoticiasIcon" />
        </div>
      </div>
      <div class="opcionesmenunoticias">
        <div class="menuitemnoticias">
          <div class="inicio1">
            <div class="inicionoticias">
              <div class="inicio2" id="inicioText">Inicio</div>
            </div>
          </div>
          <div class="inicio1">
            <div class="inicionoticias">
              <div class="inicio2" id="publicarText">Publicar</div>
            </div>
          </div>
        </div>
      </div>
      <div class="mural-de-noticias-inner">
        <div class="mural-de-noticias-parent">
          <div class="mural-de-noticias1">Mural de noticias</div>
          <div class="descubre-las-noticias">
            Descubre las noticias y eventos de nuestros artesanos
          </div>
        </div>
      </div>
      <div class="publicacionnoticia1">
        <div class="frame-parent41">
          <div class="frame-parent42">
            <div class="frame-wrapper14">
              <div class="frame-parent43">
                <div class="fotodeperfil1-wrapper">
                  <img
                    class="fotodeperfil1-icon"
                    alt=""
                    src="./static/img/fotoperfilresea2@2x.png"
                  />
                </div>
                <div class="proxima-feria-artesanal-parent">
                  <div class="proxima-feria-artesanal">
                    Proxima Feria Artesanal
                  </div>
                  <div class="rodrigo-caamao">Miguel Zapata</div>
                </div>
              </div>
            </div>
            <div class="feria-artesanal-carhuello-1-wrapper">
              <img
                class="feria-artesanal-carhuello-1-icon"
                alt=""
                src="./static/img/feriaartesanalcarhuello-1@2x.png"
              />
            </div>
          </div>
          <div class="ubicacionylike1">
            <div class="vector-parent">
              <img class="vector-icon28" alt="" src="./static/img/vector7.svg" />

              <div class="div5">2</div>
            </div>
            <div class="ubicacionylike1-inner">
              <div class="marcador-de-posicion-1-parent11">
                <img
                  class="marcador-de-posicion-1-icon13"
                  alt=""
                  src="./static/img/image@2x.png"
                />

                <div class="pucon">Pucon</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-parent44">
          <div class="proxima-feria-artesanal-parent">
            <div class="proxima-feria-artesanal">
              Feria artesanal en el sector de Carhuello
            </div>
            <div class="rodrigo-caamao">Entre el 10 y 17 de Diciembre</div>
          </div>
          <div class="emprendedoras-puconinas-formar-wrapper">
            <div class="emprendedoras-puconinas-formar-container">
              <span class="emprendedoras-puconinas-formar-container1">
                <p class="emprendedoras-puconinas-formar">
                  Emprendedoras puconinas formaron una nueva feria artesanal en
                  el sector Carhuello, ubicada a un costado de la sede del
                  sector, entre el cementerio y los ojos del Caburgua, la cual
                  está funcionando en horario corrido desde la 9:30 am hasta las
                  21 horas.
                </p>
                <p class="emprendedoras-puconinas-formar">
                  Se trata de las mujeres pertenecientes al taller Laboral Damas
                  de San Sebastián de Carhuello, impartido por la Oficina de la
                  Mujer de la Municipalidad de Pucón, a través del programa
                  Iniciativa de la Mujer, quienes se han unido para
                  comercializar los diversos productos que fabrican durante el
                  año. Lugar donde podrán encontrar productos que van desde los
                  mil pesos en adelante, entre ellos, mermeladas, conservas,
                  tejidos a crochet, delantales, artesanía en fieltro, plantas y
                  muchos otros productos de fabricación local.
                </p>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="publicacionnoticia2">
        <div class="frame-parent41">
          <div class="frame-parent42">
            <div class="frame-wrapper14">
              <div class="frame-parent43">
                <div class="fotodeperfil1-wrapper">
                  <img
                    class="fotodeperfil1-icon"
                    alt=""
                    src="./static/img/fotoperfilresea2@2x.png"
                  />
                </div>
                <div class="proxima-feria-artesanal-parent">
                  <div class="proxima-feria-artesanal">
                    Proxima Feria Artesanal
                  </div>
                  <div class="rodrigo-caamao">Rodrigo caamaño</div>
                </div>
              </div>
            </div>
            <div class="feria-artesanal-carhuello-1-wrapper">
              <img
                class="image-10-icon"
                alt=""
                src="./static/img/image-10@2x.png"
              />

              <img
                class="esfera-28-1-icon"
                alt=""
                src="./static/img/pesebretienda@2x.png"
              />

              <img
                class="feria-artesanal-carhuello-1-icon"
                alt=""
                src="./static/img/feriaartesanalcarhuello-1@2x.png"
              />

              <div class="feria-artesanal-2-1-wrapper">
                <img
                  class="feria-artesanal-2-1-icon"
                  alt=""
                  src="./static/img/feriaartesanal2-1@2x.png"
                />
              </div>
            </div>
          </div>
          <div class="ubicacionylike1">
            <div class="vector-parent">
              <img class="vector-icon28" alt="" src="./static/img/vector7.svg" />

              <div class="div5">2</div>
            </div>
            <div class="ubicacionylike1-inner">
              <div class="marcador-de-posicion-1-parent11">
                <img
                  class="marcador-de-posicion-1-icon13"
                  alt=""
                  src="./static/img/image@2x.png"
                />

                <div class="pucon">Concepcion</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-parent48">
          <div class="proxima-feria-artesanal-parent">
            <div class="proxima-feria-artesanal">
              feria reúne a artesanos del Biobío
            </div>
            <div class="rodrigo-caamao">Entre el 10 y 17 de Diciembre</div>
          </div>
          <div class="emprendedoras-puconinas-formar-wrapper">
            <div class="emprendedoras-puconinas-formar-container">
              <span class="emprendedoras-puconinas-formar-container1">
                <p class="emprendedoras-puconinas-formar">
                  Varias actividades ha programado para este fin de semana la
                  Asociación Gremial de Artesanos Creadores del Biobío en el
                  marco de las celebraciones de un nuevo Día de los Patrimonios
                  en la UdeC.
                </p>
                <p class="emprendedoras-puconinas-formar">
                  Este viernes, la asociación se instaló en la Plaza del
                  Estudiante con la Feria Fiesta del Patrimonio, en la que 17
                  artesanos y artesanas están exponiendo sus trabajos en madera,
                  orfebrería, lanas, textiles, cera y cueros.
                </p>
                <p class="emprendedoras-puconinas-formar">
                  Sobre la actividad, Javier Ramírez Hinrichsen, jefe de la
                  Unidad de Patrimonio de la UdeC, indicó que «este viernes
                  tuvimo un importante hito que creemos que expresa los que la
                  Universidad ha venido desarrollando en los últimos cuatro
                  años. La importancia de una institución pública que busca
                  tener una vinculación efectiva con el medio y eso está
                  graficado en lo que fue la inauguración de la exposición de la
                  Asociación Gremial de Artesanos del Biobío».
                </p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var loginmuraldenoticiasIcon = document.getElementById(
        "loginmuraldenoticiasIcon"
      );
      if (loginmuraldenoticiasIcon) {
        loginmuraldenoticiasIcon.addEventListener("click", function (e) {
          window.location.href = "/login";
        });
      }
      
      var inicioText = document.getElementById("inicioText");
      if (inicioText) {
        inicioText.addEventListener("click", function (e) {
          window.location.href = "/index";
        });
      }
      
      var publicarText = document.getElementById("publicarText");
      if (publicarText) {
        publicarText.addEventListener("click", function (e) {
          window.location.href = "/publicar";
        });
      }
      </script>
  </body>
</html>
