<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/oficial.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:ital,wght@0,700;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="oficial1">
      <div class="imagen3-2-group">
        <img class="imagen3-2-icon1" alt="" src="./static/img/imagen3-2@2x.png" />
        <div class="colgante-kopiwe">PasiónArtesana</div>
      </div>
      <div class="frame4">
        <div class="vector-frame">
          <span class="welcome-message">Bienvenido, [Nombre de Usuario]</span>
          <img class="vector-icon29" id="iconologin" alt="" src="./static/img/vector1.svg" />
        </div>
      </div>
      <div class="frame5">
        <div class="menu-item1">
          <div class="inicio-container">
            <div class="region-de-maule" id="inicio">Inicio</div>
          </div>
          <div class="inicio-container">
            <div class="region-de-maule" id="sobrenosotros">sobre nosotros</div>
          </div>
          <div class="inicio-container">
            <div class="region-de-maule" id="comunidad">comunidad</div>
          </div>
        </div>
      </div>
      <div class="captura-de-pantalla-2023-11-264"></div>
      <div class="captura-de-pantalla-2023-12-082"></div>
      <img
        class="captura-de-pantalla-2023-12-083"
        alt=""
        src="./static/img/captura-de-pantalla-20231208-a-las-2117-1@2x.png"
      />

      <div class="frame-parent39">
        <div class="menu-group">
          <div class="colgante-kopiwe">Menu</div>
          <div class="frame6">
            <div class="region-de-maule" id="inicionoticias">Home</div>
            <div class="comunidad3" id="comunidadText1">Comunidad</div>
            <div class="region-de-maule" id="sobrenosotrosnoticias">Sobre nosotros</div>
          </div>
        </div>
        <div class="menu-group">
          <div class="colgante-kopiwe">Categorias</div>
          <div class="frame-wrapper4">
            <div class="frame7">
              <div class="region-de-maule" id="servicios">servicios</div>
              <div class="productos1" id="productos">Productos</div>
              <div class="text1"></div>
            </div>
          </div>
        </div>
        <div class="menu-group">
          <div class="colgante-kopiwe">Social</div>
          <div class="instagram-group">
            <div class="region-de-maule">Instagram</div>
            <div class="xtwitter1">X(twitter)</div>
            <div class="region-de-maule">Youtube</div>
            <div class="region-de-maule">Facebook</div>
          </div>
        </div>
      </div>
      <div class="ingresa-tu-correo-para-mas-inf-group">
        <div class="colgante-kopiwe">
          Ingresa tu correo para mas infomacion:
        </div>
        <div class="frame-parent40">
          <div class="ingresa-tu-imail-aqui-group">
            <div class="region-de-maule">Ingresa tu email aqui...</div>
            <div class="enviar-container" id="frameContainer15">
              <div class="enviar1">Enviar</div>
            </div>
          </div>
          <div class="frame-child9"></div>
        </div>
      </div>
      <div class="frame-parent41">
        <div class="frame-parent42">
          <div class="img-4319-1-parent">
            <img
              class="img-4319-1-icon1"
              alt=""
              src="./static/img/colgante1.png"
            />

            <div class="rectangle-parent4">
              <div class="frame-child10"></div>
              <div class="frame-parent43">
                <div class="marcador-de-posicion-1-parent4">
                  <img
                    class="marcador-de-posicion-1-icon6"
                    alt=""
                    src="./static/img/marcadordeposicion-11@2x.png"
                  />

                  <div class="region-de-maule">Region de Maule</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="frame-parent44">
            <div class="producto-wrapper">
            </div>
            <div class="colgante-kopiwe-wrapper">
              <div class="colgante-kopiwe">Colgante Copihue</div>
            </div>
          </div>
        </div>
        <div class="frame-parent45">
          <div class="frame-parent46">
            <div class="image-17-parent2">
              <img
                class="image-17-icon4"
                alt=""
                src="./static/img/image-171@2x.png"
              />

              <img
                class="f768x1-29378-29505-0-1-icon4"
                alt=""
                src="./static/img/f768x129378-29505-0-11@2x.png"
              />

              <img
                class="images-3-1-icon"
                alt=""
                src="./static/img/images3-1@2x.png"
              />
            </div>
            <div class="colgante-kopiwe-parent">
              <div class="colgante-kopiwe">Colgante Copihue</div>
              <div class="ana-de-armas">Ana de Armas</div>
            </div>
          </div>
          <div class="whatsapp-1-parent">
            <img class="whatsapp-1-icon" alt="" src="./static/img/whatsapp-1.svg" />

            <div class="wrapper">
              <div class="colgante-kopiwe">9-71011806</div>
            </div>
          </div>
          <div class="mail-1-parent">
            <img class="whatsapp-1-icon" alt="" src="./static/img/mail-1.svg" />

            <div class="wrapper">
              <div class="colgante-kopiwe">Ana.dearmas11@gmail.com</div>
            </div>
          </div>
          <div class="facebook-1-parent">
            <img class="whatsapp-1-icon" alt="" src="./static/img/facebook-1.svg" />

            <div class="wrapper">
              <div class="facebook2">Facebook</div>
            </div>
          </div>
          <div class="instagram-2-1-parent">
            <div class="whatsapp-1-icon">
              <div class="group">
                <img class="vector-icon30" alt="" src="./static/img/vector8.svg" />

                <img
                  class="rectangle-icon"
                  alt=""
                  src="./static/img/rectangle@2x.png"
                />
              </div>
            </div>
            <div class="wrapper">
              <div class="facebook2">Instagram</div>
            </div>
          </div>
          <div class="frame-wrapper5">
            <div class="colgante-kopiwe-parent">
              <div class="colgante-kopiwe">Contacta a Ana de Armas</div>
              <div class="ana-de-armas">
                <p class="blank-line">&nbsp;</p>
              </div>
            </div>
          </div>
          <div class="frame-parent47">
            <div class="frame-wrapper6">
              <div class="descubre-la-elegancia-con-el-c-wrapper">
                <div class="descubre-la-elegancia-con-el-c-wrapper">
                  <div class="descubre-la-elegancia">
                    Descubre la elegancia con el colgante Copihue! Su diseño
                    moderno y detalles artesanales hacen de este accesorio una
                    declaración de estilo única y atemporal. ¡Brilla con
                    distinción!
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper8">
              <div class="vector-parent10">
                <img class="vector-icon31" alt="" src="./static/img/vector7.svg" />

                <div class="region-de-maule">5</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
//barra navegacion
      var inicio = document.getElementById("inicio");
      if (inicio) {
        inicio.addEventListener("click", function (e) {
          window.location.href = "/index";
        });
      }

      var sobrenosotros = document.getElementById("sobrenosotros");
      if (sobrenosotros) {
        sobrenosotros.addEventListener("click", function (e) {
          window.location.href = "/sobrenosotros";
        });
      }

      var comunidad = document.getElementById("comunidad");
      if (comunidad) {
      comunidad.addEventListener("click", function (e) {
          window.location.href = "/noticias";
      });
    }

    //loginmonito

    var iconologin = document.getElementById("iconologin");
      if (iconologin) {
      iconologin.addEventListener("click", function (e) {
          window.location.href = "/perfil";
      });
    }

//menu de abajito
      var inicionoticias = document.getElementById("inicionoticias");
        if (inicionoticias) {
          inicionoticias.addEventListener("click", function (e) {
            window.location.href = "/index";
          });
        }

      var comunidadText1 = document.getElementById("comunidadText1");
      if (comunidadText1) {
        comunidadText1.addEventListener("click", function (e) {
          window.location.href = "/noticias";
        });
      }

      var sobrenosotrosnoticias = document.getElementById("sobrenosotrosnoticias");
      if (sobrenosotrosnoticias) {
        sobrenosotrosnoticias.addEventListener("click", function (e) {
          window.location.href = "/sobrenosotros";
        });
      }

      var servicios = document.getElementById("servicios");
      if (servicios) {
      servicios.addEventListener("click", function (e) {
          window.location.href = "/servicios";
        });
      }

      var productos = document.getElementById("productos");
      if (productos) {
      productos.addEventListener("click", function (e) {
          window.location.href = "/tienda";
        });
      }


      //parece que no es el

          

      //aca es el boton de enviar correo
      var frameContainer15 = document.getElementById("frameContainer15");
      if (frameContainer15) {
        frameContainer15.addEventListener("click", function (e) {
          window.location.href = "/sobrenosotros"; 
        });
      }
      </script>
  </body>
</html>
