<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <section class="p-5 border rounded">
                    <h1 class="text-primary text-center mb-4">Registro</h1>
                    <form method="POST" action="/procesa/registro">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" class="form-control">
                            <!-- Validación y mensajes para el nombre -->
                            {% for mensaje in get_flashed_messages(category_filter=['error_nombre']) %}
                            <div class="error alert alert-danger">{{ mensaje }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <label for="apellido" class="form-label">Apellido:</label>
                            <input type="text" id="apellido" name="apellido" class="form-control">
                            <!-- Validación y mensajes para el apellido -->
                            {% for mensaje in get_flashed_messages(category_filter=['error_apellido']) %}
                            <div class="error alert alert-danger">{{ mensaje }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="text" id="email" name="email" class="form-control">
                            <!-- Validación y mensajes para el email -->
                            {% for mensaje in get_flashed_messages(category_filter=['error_email']) %}
                            <div class="error alert alert-danger">{{ mensaje }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <label for="direccion" class="form-label">Dirección:</label>
                            <input type="text" id="direccion" name="direccion" class="form-control">
                        </div>
                        <div class="row g-2">
                            <div class="col-md-6">
                                <label for="ciudad" class="form-label">Ciudad:</label>
                                <input type="text" id="ciudad" name="ciudad" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label for="region" class="form-label">Región:</label>
                                <input type="text" id="region" name="region" class="form-control">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" id="password" name="password" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="password_confirmar" class="form-label">Confirmar password:</label>
                            <input type="password" id="password_confirmar" name="password_confirmar" class="form-control">
                            <!-- Validación y mensajes para la confirmación de password -->
                            {% for mensaje in get_flashed_messages(category_filter=['error_password']) %}
                            <div class="error alert alert-danger">{{ mensaje }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" id="es_artesano" name="es_artesano" class="form-check-input">
                            <label for="es_artesano" class="form-check-label">¿Eres artesano?</label>
                        </div>
                        <button class="btn btn-primary">Registro</button>
                    </form>
                </section>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
