<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/servicio.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="tiendaservicio">
      <div class="logotiendaservicio-parent">
        <img
          class="logotiendaservicio-icon"
          alt=""
          src="./static/img/logotiendaservicio@2x.png"
        />

        <div class="magia-hecha-a">PasiónArtesana</div>
      </div>
      <div class="frame">
        <div class="logintiendaservicio-wrapper">
          <img
            class="logintiendaservicio-icon"
            alt=""
            src="./static/img/logintiendaservicio.svg"
            id="logintiendaservicioIcon"
          />
        </div>
      </div>
      <div class="opcionesmenutiendaservicio">
        <div class="menuitemtiendaservicio">
          <div class="iniciotiendaservicio" id="iniciotiendaservicioContainer">
            <div class="inicio" id="inicioText">Inicio</div>
          </div>
          <div class="publicartiendaservicio">
            <div class="inicio" id="publicarText">Publicar</div>
          </div>
          <div class="publicartiendaservicio">
            <div class="inicio" id="comunidadText">comunidad</div>
          </div>
        </div>
      </div>
      <img
        class="findelfeedtiendaservicio-icon"
        alt=""
        src="./static/img/findelfeedtiendaservicio@2x.png"
      />

      <div class="frame-parent">
        <div class="menu-parent">
          <div class="magia-hecha-a">Menu</div>
          <div class="frame1">
            <div class="home">Home</div>
            <div class="home">Comunidad</div>
            <div class="home">Sobre nosotros</div>
          </div>
        </div>
        <div class="menu-parent">
          <div class="magia-hecha-a">Categorias</div>
          <div class="frame-wrapper">
            <div class="frame2">
              <div class="home">servicios</div>
              <div class="productos">Productos</div>
              <div class="text"></div>
            </div>
          </div>
        </div>
        <div class="menu-parent">
          <div class="magia-hecha-a">Social</div>
          <div class="instagram-parent">
            <div class="home">Instagram</div>
            <div class="xtwitter">X(twitter)</div>
            <div class="home">Youtube</div>
            <div class="home">Facebook</div>
          </div>
        </div>
      </div>
      <div class="ingresa-tu-correo-para-mas-inf-parent">
        <div class="magia-hecha-a">Ingresa tu correo para mas infomacion:</div>
        <div class="frame-group">
          <div class="ingresa-tu-imail-aqui-parent">
            <div class="home">Ingresa tu email aqui...</div>
            <div class="enviar-wrapper">
              <div class="enviar">Enviar</div>
            </div>
          </div>
          <div class="frame-child"></div>
        </div>
      </div>
      <div class="menucategoriassocialtienda-parent">
        <div class="menu-parent">
          <div class="magia-hecha-a">Menu</div>
          <div class="frame1">
            <div class="inicio" id="homeText1">Home</div>
            <div class="inicio" id="comunidadText2">Comunidad</div>
            <div class="sobreNosotrosText1" id="sobreNosotrosText1">Sobre nosotros</div>
            <div class="inicio" id="publicarText1">Publicar</div>
          </div>
        </div>
        <div class="menu-parent">
          <div class="magia-hecha-a">Categorias</div>
          <div class="frame-wrapper">
            <div class="frame2">
              <div class="home">servicios</div>
              <div class="text"></div>
            </div>
          </div>
        </div>
        <div class="menu-parent">
          <div class="magia-hecha-a">Social</div>
          <div class="instagram-parent">
            <div class="home">Instagram</div>
            <div class="xtwitter">X(twitter)</div>
            <div class="home">Youtube</div>
            <div class="home">Facebook</div>
          </div>
        </div>
      </div>
      <div class="ingresa-tu-correo-para-mas-inf-group">
        <div class="magia-hecha-a">Ingresa tu correo para mas infomacion:</div>
        <div class="frame-group">
          <div class="ingresa-tu-imail-aqui-parent">
            <div class="home">Ingresa tu email aqui...</div>
            <div class="enviar-wrapper">
              <div class="enviar">Enviar</div>
            </div>
          </div>
          <div class="frame-child"></div>
        </div>
      </div>
      <div class="tiendaservicio-inner">
        <div class="descubre-a-nuestros-artesanos-parent">
          <div class="descubre-a-nuestros">Descubre a nuestros artesanos</div>
          <div class="descubre-los-servicios">
            Descubre los servicios de nuestros artesanos
          </div>
        </div>
      </div>
      <div class="frame-parent1">
        <div class="frame-wrapper1">
          <div class="frame-parent2">
            <div class="zapatero-parent">
              <img
                class="zapatero-icon"
                alt=""
                src="./static/img/zapatero@2x.png"
              />

              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img
                      class="marcador-de-posicion-1-icon"
                      alt=""
                      src="./static/img/marcadordeposicion-1@2x.png"
                    />

                    <div class="home">Region de Aysèn</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publicacion1">
                <div class="magia-hecha-a">Zapatero</div>
                <div class="revisar-servicio">
                  <p class="revisar-servicio1">Revisar Servicio</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent2">
            <div class="zapatero-parent">
              <img
                class="zapatero-icon"
                alt=""
                src="./static/img/carpinteroviejo@2x.png"
              />

              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img
                      class="marcador-de-posicion-1-icon"
                      alt=""
                      src="./static/img/marcadordeposicion-1@2x.png"
                    />

                    <div class="home">Region de Aysèn</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publicacion1">
                <div class="magia-hecha-a">Carpintero</div>
                <div class="revisar-servicio">Revisar Servicio</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent2">
            <div class="zapatero-parent">
              <img
                class="zapatero-icon"
                alt=""
                src="./static/img/carpintero2@2x.png"
              />

              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img
                      class="marcador-de-posicion-1-icon"
                      alt=""
                      src="./static/img/marcadordeposicion-1@2x.png"
                    />

                    <div class="home">Region de Aysèn</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publicacion1">
                <div class="magia-hecha-a">Carpintero</div>
                <div class="revisar-servicio">Revisar Servicio</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent11">
            <div class="zapatero-parent">
              <img
                class="tonelero-icon"
                alt=""
                src="./static/img/tonelero@2x.png"
              />

              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img
                      class="marcador-de-posicion-1-icon"
                      alt=""
                      src="./static/img/marcadordeposicion-1@2x.png"
                    />

                    <div class="home">Region del Bio Bio</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publicacion1">
                <div class="magia-hecha-a">Tonelero</div>
                <div class="revisar-servicio">Revisar Servicio</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent11">
            <div class="zapatero-parent">
              <img
                class="zapatero-icon"
                alt=""
                src="./static/img/ebanista@2x.png"
              />

              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img
                      class="marcador-de-posicion-1-icon"
                      alt=""
                      src="./static/img/marcadordeposicion-1@2x.png"
                    />

                    <div class="home">Region de Maule</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publicacion1">
                <div class="magia-hecha-a">Ebanista</div>
                <div class="revisar-servicio">Revisar Servicio</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent2">
            <div class="zapatero-parent">
              <img
                class="zapatero-icon"
                alt=""
                src="./static/img/carpintero4@2x.png"
              />

              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img
                      class="marcador-de-posicion-1-icon"
                      alt=""
                      src="./static/img/marcadordeposicion-1@2x.png"
                    />

                    <div class="home">Region de Aysèn</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publicacion1">
                <div class="magia-hecha-a">Carpintero</div>
                <div class="revisar-servicio">Revisar Servicio</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent11">
            <div class="zapatero-parent">
              <img
                class="alfarero-icon"
                alt=""
                src="./static/img/alfarero@2x.png"
              />

              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img
                      class="marcador-de-posicion-1-icon"
                      alt=""
                      src="./static/img/marcadordeposicion-1@2x.png"
                    />

                    <div class="home">Region de la Araucania</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent22">
              <div class="frame-child1"></div>
              <div class="publicacion1">
                <div class="magia-hecha-a">Alfarero</div>
                <div class="revisar-servicio">Revisar Servicio</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent11">
            <div class="zapatero-parent">
              <div class="curtidor-wrapper">
                <img
                  class="curtidor-icon"
                  alt=""
                  src="./static/img/curtidor@2x.png"
                />
              </div>
              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img
                      class="marcador-de-posicion-1-icon"
                      alt=""
                      src="./static/img/marcadordeposicion-1@2x.png"
                    />

                    <div class="home">Region de los Rìos</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publiacion8">
                <div class="magia-hecha-a">Curtidor</div>
                <div class="revisar-servicio">Revisar Servicio</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent11">
            <div class="zapatero-parent">
              <div class="curtidor-wrapper">
                <div class="zapatero2-parent">
                  <img
                    class="zapatero-icon"
                    alt=""
                    src="./static/img/zapatero2@2x.png"
                  />

                  <div class="rectangle-parent">
                    <div class="frame-inner"></div>
                    <div class="frame-parent3">
                      <div class="marcador-de-posicion-1-parent">
                        <img
                          class="marcador-de-posicion-1-icon"
                          alt=""
                          src="./static/img/marcadordeposicion-1@2x.png"/>
                        <div class="home">Region del Bio Bio</div>
                      </div>
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img
                      class="marcador-de-posicion-1-icon"
                      alt=""
                      src="./static/img/marcadordeposicion-1@2x.png"
                    />

                    <div class="home">Region de Maule</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publiacion8">
                <div class="magia-hecha-a">Zapatero</div>
                <div class="revisar-servicio">Revisar Servicio</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      //barra navegacion

      var inicioText = document.getElementById("inicioText");
      if (inicioText) {
        inicioText.addEventListener("click", function (e) {
          window.location.href = "/login";
        });
      }
      
      var publicarText = document.getElementById("publicarText");
      if (publicarText) {
        publicarText.addEventListener("click", function (e) {
          window.location.href = "/publicar";
        });
      }
      
      var comunidadText = document.getElementById("comunidadText");
      if (comunidadText) {
        comunidadText.addEventListener("click", function (e) {
          window.location.href = "/noticias";
        });
      }

      var logintiendaservicioIcon = document.getElementById("logintiendaservicioIcon");
      if (logintiendaservicioIcon) {
        logintiendaservicioIcon.addEventListener("click", function (e) {
          window.location.href = "/login";
        });
      }

      //menu de abajito
      var homeText1 = document.getElementById("homeText1");
      if (homeText1) {
        homeText1.addEventListener("click", function (e) {
          window.location.href = "/index";
        });
      }
      
      var comunidadText2 = document.getElementById("comunidadText2");
      if (comunidadText2) {
        comunidadText2.addEventListener("click", function (e) {
          window.location.href = "/noticias";
        });
      }
      
      var publicarText1 = document.getElementById("publicarText1");
      if (publicarText1) {
        publicarText1.addEventListener("click", function (e) {
          window.location.href = "/publicar";
        });
      }

      var sobreNosotrosText1 = document.getElementById("sobreNosotrosText1");
      if (sobreNosotrosText1) {
        sobreNosotrosText1.addEventListener("click", function (e) {
          window.location.href = "/sobrenosotros";
        });
      }

      var serviciosText = document.getElementById("serviciosText");
      if (serviciosText) {
        serviciosText.addEventListener("click", function (e) {
          window.location.href = "/servicios";
        });
      }
      </script>
  </body>
</html>
