<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./static/css/global.css" />
    <link rel="stylesheet" href="./static/css/sobrenosotros.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="sobrenosotros">
      <img
        class="oigekfb2zh3kl5-1-icon"
        alt=""
        src="./static/img/oigekfb2zh3kl5-1@2x.png"
      />

      <div class="logoynombremuraldenoticias">
        <img
          class="logomuraldenoticias-icon"
          alt=""
          src="./static/img/logomuraldenoticias@2x.png"
        />

        <div class="magia-hecha-a1" id="magiaHechaA">PasiónArtesana</div>
      </div>
      <b class="cual-es-nuestro">Cual es nuestro objetivo</b>
      <div class="nuestra-misin-es-destacar-las-wrapper">
        <b class="nuestra-misin-es"
          >Nuestra misión es destacar las habilidades inigualables de artesanos
          de todo el país, promoviendo sus productos únicos con esencia
          artística y el uso ingenioso de materiales reciclados. Buscamos crear
          una plataforma sólida que brinde visibilidad y sea un trampolín
          crucial para el florecimiento de sus talentos. Creemos en proporcionar
          oportunidades genuinas para que cada artesano prospere, fomentando un
          espacio donde la autenticidad y la creatividad converjan en una
          sinfonía única de expresión artística a nivel nacional. Más que
          impulsar la promoción de productos artesanales, aspiramos a cultivar
          un entorno propicio para el crecimiento personal y profesional de
          quienes participan en este vibrante universo creativo. Trabajamos
          incansablemente para hacer realidad el sueño de cada creador,
          proporcionándoles las herramientas necesarias para trascender
          fronteras y alcanzar nuevas alturas en su viaje artístico y
          empresarial.</b
        >
      </div>
      <div class="suscripcion-wrapper">
        <img
          class="suscripcion-icon"
          alt=""
          src="./static/img/suscripcion@2x.png"
        />
      </div>
      <div class="suscripcion-parent">
        <b class="suscripcion">Suscripcion</b>
        <div class="captura-de-pantalla-2023-12-11-wrapper">
          <img
            class="captura-de-pantalla-2023-12-11"
            alt=""
            src="./static/img/captura-de-pantalla-20231211-a-las-0156-1@2x.png"
          />
        </div>
      </div>
    </div>

    <script>
      var magiaHechaA = document.getElementById("magiaHechaA");
      if (magiaHechaA) {
        magiaHechaA.addEventListener("click", function (e) {
          window.location.href = "/servicios";
        });
      }
      </script>
  </body>
</html>
