<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./tienda.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:ital,wght@0,700;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="tienda1">
      <div class="imagen3-2-container">
        <img class="imagen3-2-icon2" alt="" src="./public/imagen3-2@2x.png" />

        <div class="magia-hecha-a2">PasiónArtesana</div>
      </div>
      <div class="frame10">
        <div class="vector-frame">
          <img class="vector-icon30" alt="" src="./public/vector1.svg" />
        </div>
      </div>
      <div class="frame11">
        <div class="menu-item2">
          <div class="inicio-frame" id="frameContainer3">
            <div class="inicio2">Inicio</div>
          </div>
          <div class="sobre-nosotros-frame">
            <div class="inicio2">sobre nosotros</div>
          </div>
          <div class="inicio-frame" id="frameContainer5">
            <div class="inicio2">comunidad</div>
          </div>
        </div>
      </div>
      <div class="captura-de-pantalla-2023-11-267"></div>
      <div class="captura-de-pantalla-2023-12-084"></div>
      <img
        class="captura-de-pantalla-2023-12-085"
        alt=""
        src="./public/captura-de-pantalla-20231208-a-las-2117-1@2x.png"
      />

      <div class="frame-parent83">
        <div class="menu-parent1">
          <div class="magia-hecha-a2">Menu</div>
          <div class="frame12">
            <div class="inicio2">Home</div>
            <div class="inicio2">Comunidad</div>
            <div class="inicio2">Sobre nosotros</div>
          </div>
        </div>
        <div class="menu-parent1">
          <div class="magia-hecha-a2">Categorias</div>
          <div class="frame-wrapper21">
            <div class="frame13">
              <div class="inicio2">servicios</div>
              <div class="productos3">Productos</div>
              <div class="text3"></div>
            </div>
          </div>
        </div>
        <div class="menu-parent1">
          <div class="magia-hecha-a2">Social</div>
          <div class="instagram-parent1">
            <div class="inicio2">Instagram</div>
            <div class="xtwitter3">X(twitter)</div>
            <div class="inicio2">Youtube</div>
            <div class="inicio2">Facebook</div>
          </div>
        </div>
      </div>
      <div class="ingresa-tu-correo-para-mas-inf-parent1">
        <div class="magia-hecha-a2">Ingresa tu correo para mas infomacion:</div>
        <div class="frame-parent84">
          <div class="ingresa-tu-imail-aqui-parent1">
            <div class="inicio2">Ingresa tu imail aqui...</div>
            <div class="enviar-wrapper1" id="frameContainer15">
              <div class="enviar3">Enviar</div>
            </div>
          </div>
          <div class="frame-child36"></div>
        </div>
      </div>
      <div class="frame-parent85">
        <div class="menu-parent1">
          <div class="magia-hecha-a2">Menu</div>
          <div class="frame12">
            <div class="home4" id="homeText1">Home</div>
            <div class="home4" id="comunidadText2">Comunidad</div>
            <div class="inicio2">Sobre nosotros</div>
          </div>
        </div>
        <div class="menu-parent1">
          <div class="magia-hecha-a2">Categorias</div>
          <div class="frame-wrapper21">
            <div class="frame13">
              <div class="inicio2">servicios</div>
              <div class="productos3">Productos</div>
              <div class="text3"></div>
            </div>
          </div>
        </div>
        <div class="menu-parent1">
          <div class="magia-hecha-a2">Social</div>
          <div class="instagram-parent1">
            <div class="inicio2">Instagram</div>
            <div class="xtwitter3">X(twitter)</div>
            <div class="inicio2">Youtube</div>
            <div class="inicio2">Facebook</div>
          </div>
        </div>
      </div>
      <div class="ingresa-tu-correo-para-mas-inf-parent2">
        <div class="magia-hecha-a2">Ingresa tu correo para mas infomacion:</div>
        <div class="frame-parent84">
          <div class="ingresa-tu-imail-aqui-parent1">
            <div class="inicio2">Ingresa tu imail aqui...</div>
            <div class="enviar-wrapper1" id="frameContainer27">
              <div class="enviar3">Enviar</div>
            </div>
          </div>
          <div class="frame-child36"></div>
        </div>
      </div>
      <div class="tienda-child">
        <div class="descubre-a-nuestros-artesanos-group">
          <div class="descubre-a-nuestros1">Descubre a nuestros artesanos</div>
          <div class="descubre-los-porductos2">
            Descubre los porductos y servicios de nuestros artesanos
          </div>
        </div>
      </div>
      <div class="frame-parent87">
        <div class="frame-wrapper23">
          <div class="frame-parent88">
            <div class="horizontal-0007-hector-arane-container">
              <img class="image-9-icon4" alt="" src="./public/image-9@2x.png" />

              <img
                class="image-9-icon4"
                alt=""
                src="./public/tocomaderataller-1@2x.png"
              />

              <div class="rectangle-parent17">
                <div class="frame-child38"></div>
                <div class="frame-parent89">
                  <div class="marcador-de-posicion-1-parent17">
                    <img
                      class="marcador-de-posicion-1-icon19"
                      alt=""
                      src="./public/marcadordeposicion-11@2x.png"
                    />

                    <div class="inicio2">Region de Aysèn</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent90">
              <div class="frame-child39"></div>
              <div class="emboque-chileno-container">
                <div class="magia-hecha-a2">Emboque Chileno</div>
                <div class="revisar-producto11">
                  <p class="revisar-producto12">Revisar Producto</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper23">
          <div class="frame-parent88">
            <div class="horizontal-0007-hector-arane-container">
              <img class="image-9-icon4" alt="" src="./public/image-9@2x.png" />

              <img
                class="image-9-icon4"
                alt=""
                src="./public/frame-4772@3x.png"
              />

              <div class="rectangle-parent17">
                <div class="frame-child38"></div>
                <div class="frame-parent89">
                  <div class="marcador-de-posicion-1-parent17">
                    <img
                      class="marcador-de-posicion-1-icon19"
                      alt=""
                      src="./public/marcadordeposicion-11@2x.png"
                    />

                    <div class="inicio2">Region de Aysèn</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent90">
              <div class="frame-child39"></div>
              <div class="emboque-chileno-container">
                <div class="magia-hecha-a2">Carpintero</div>
                <div class="revisar-producto11">Revisar Servicio</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper23">
          <div class="frame-parent88">
            <div class="horizontal-0007-hector-arane-container">
              <img class="image-9-icon4" alt="" src="./public/image-9@2x.png" />

              <img
                class="image-9-icon4"
                alt=""
                src="./public/frame-4772@3x.png"
              />

              <div class="rectangle-parent17">
                <div class="frame-child38"></div>
                <div class="frame-parent89">
                  <div class="marcador-de-posicion-1-parent17">
                    <img
                      class="marcador-de-posicion-1-icon19"
                      alt=""
                      src="./public/marcadordeposicion-11@2x.png"
                    />

                    <div class="inicio2">Region de Aysèn</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent90">
              <div class="frame-child39"></div>
              <div class="emboque-chileno-container">
                <div class="magia-hecha-a2">Carpintero</div>
                <div class="revisar-producto11">Revisar Servicio</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper23">
          <div class="frame-parent97">
            <div class="horizontal-0007-hector-arane-container">
              <img
                class="captura-de-pantalla-2023-11-268"
                alt=""
                src="./public/captura-de-pantalla-20231126-a-las-2013-1@2x.png"
              />

              <img
                class="captura-de-pantalla-2023-11-268"
                alt=""
                src="./public/conejitosminicontextual1-1@2x.png"
              />

              <div class="rectangle-parent17">
                <div class="frame-child38"></div>
                <div class="frame-parent89">
                  <div class="marcador-de-posicion-1-parent17">
                    <img
                      class="marcador-de-posicion-1-icon19"
                      alt=""
                      src="./public/marcadordeposicion-11@2x.png"
                    />

                    <div class="inicio2">Region del Bio Bio</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent90">
              <div class="frame-child39"></div>
              <div class="emboque-chileno-container">
                <div class="magia-hecha-a2">Mini conejito</div>
                <div class="revisar-producto11">REvisar Producto</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper23">
          <div class="frame-parent97">
            <div class="horizontal-0007-hector-arane-container">
              <img
                class="image-9-icon4"
                alt=""
                src="./public/frame-4771@3x.png"
              />

              <div class="rectangle-parent17">
                <div class="frame-child38"></div>
                <div class="frame-parent89">
                  <div class="marcador-de-posicion-1-parent17">
                    <img
                      class="marcador-de-posicion-1-icon19"
                      alt=""
                      src="./public/marcadordeposicion-11@2x.png"
                    />

                    <div class="inicio2">Region de Maule</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent90">
              <div class="frame-child39"></div>
              <div class="emboque-chileno-container">
                <div class="magia-hecha-a2">Ebanista</div>
                <div class="revisar-producto11">Revisar Producto</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper23">
          <div class="frame-parent88">
            <div class="horizontal-0007-hector-arane-container">
              <img class="image-9-icon4" alt="" src="./public/image-9@2x.png" />

              <img
                class="image-9-icon4"
                alt=""
                src="./public/tocomaderataller-12@2x.png"
              />

              <div class="rectangle-parent17">
                <div class="frame-child38"></div>
                <div class="frame-parent89">
                  <div class="marcador-de-posicion-1-parent17">
                    <img
                      class="marcador-de-posicion-1-icon19"
                      alt=""
                      src="./public/marcadordeposicion-11@2x.png"
                    />

                    <div class="inicio2">Region de Aysèn</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent90">
              <div class="frame-child39"></div>
              <div class="emboque-chileno-container">
                <div class="magia-hecha-a2">Carpintero</div>
                <div class="revisar-producto11">Revisar Servicio</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper23">
          <div class="frame-parent97">
            <div class="horizontal-0007-hector-arane-container">
              <img
                class="oct2021-3-1-icon3"
                alt=""
                src="./public/oct20213-1@2x.png"
              />

              <div class="rectangle-parent17">
                <div class="frame-child38"></div>
                <div class="frame-parent89">
                  <div class="marcador-de-posicion-1-parent17">
                    <img
                      class="marcador-de-posicion-1-icon19"
                      alt=""
                      src="./public/marcadordeposicion-11@2x.png"
                    />

                    <div class="inicio2">Region de la Araucania</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent108">
              <div class="frame-child39"></div>
              <div class="emboque-chileno-container">
                <div class="magia-hecha-a2">Cesta Fungi</div>
                <div class="revisar-producto11">Revisar Producto</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper23">
          <div class="frame-parent97">
            <div class="horizontal-0007-hector-arane-container">
              <div class="esfera-28-1-container">
                <img
                  class="esfera-28-1-icon2"
                  alt=""
                  src="./public/esfera28-11@2x.png"
                />
              </div>
              <div class="rectangle-parent17">
                <div class="frame-child38"></div>
                <div class="frame-parent89">
                  <div class="marcador-de-posicion-1-parent17">
                    <img
                      class="marcador-de-posicion-1-icon19"
                      alt=""
                      src="./public/marcadordeposicion-11@2x.png"
                    />

                    <div class="inicio2">Region de los Rìos</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent90">
              <div class="frame-child39"></div>
              <div class="pesebre-ass-group">
                <div class="magia-hecha-a2">Pesebre Asís</div>
                <div class="revisar-producto11">Revisar Producto</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper23">
          <div class="frame-parent97">
            <div class="horizontal-0007-hector-arane-container">
              <div class="esfera-28-1-container">
                <div class="captura-de-pantalla-2023-11-26-parent4">
                  <img
                    class="image-9-icon4"
                    alt=""
                    src="./public/captura-de-pantalla-20231126-a-las-2009-1@2x.png"
                  />

                  <div class="rectangle-parent17">
                    <div class="frame-child38"></div>
                    <div class="frame-parent89">
                      <div class="marcador-de-posicion-1-parent17">
                        <img
                          class="marcador-de-posicion-1-icon19"
                          alt=""
                          src="./public/marcadordeposicion-11@2x.png"
                        />

                        <div class="inicio2">Region del Bio Bio</div>
                      </div>
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rectangle-parent17">
                <div class="frame-child38"></div>
                <div class="frame-parent89">
                  <div class="marcador-de-posicion-1-parent17">
                    <img
                      class="marcador-de-posicion-1-icon19"
                      alt=""
                      src="./public/marcadordeposicion-11@2x.png"
                    />

                    <div class="inicio2">Region de Maule</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent90">
              <div class="frame-child39"></div>
              <div class="pesebre-ass-group">
                <div class="magia-hecha-a2">Chupalla Tòrola</div>
                <div class="revisar-producto11">Revisar Producto</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper23">
          <div class="frame-parent97">
            <div class="horizontal-0007-hector-arane-container">
              <img
                class="captura-de-pantalla-2023-11-268"
                alt=""
                src="./public/captura-de-pantalla-20231126-a-las-2013-1@2x.png"
              />

              <div class="rectangle-parent17">
                <div class="frame-child38"></div>
                <div class="frame-parent89">
                  <div class="marcador-de-posicion-1-parent17">
                    <img
                      class="marcador-de-posicion-1-icon19"
                      alt=""
                      src="./public/marcadordeposicion-11@2x.png"
                    />

                    <div class="inicio2">Region del Bio Bio</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent90">
              <div class="frame-child39"></div>
              <div class="emboque-chileno-container">
                <div class="magia-hecha-a2">Pebrera pepa brava</div>
                <div class="revisar-producto11">REvisar Producto</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper23">
          <div class="frame-parent97">
            <div class="horizontal-0007-hector-arane-container">
              <img
                class="captura-de-pantalla-2023-11-268"
                alt=""
                src="./public/4img-4319-1@2x.png"
              />

              <div class="rectangle-parent17">
                <div class="frame-child38"></div>
                <div class="frame-parent89">
                  <div class="marcador-de-posicion-1-parent17">
                    <img
                      class="marcador-de-posicion-1-icon19"
                      alt=""
                      src="./public/marcadordeposicion-11@2x.png"
                    />

                    <div class="inicio2">Region de Maule</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent108">
              <div class="frame-child39"></div>
              <div class="emboque-chileno-container">
                <div class="magia-hecha-a2">Colgante Kopiwe</div>
                <div class="revisar-producto11">Revisar Producto</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper23">
          <div class="frame-parent88">
            <div class="horizontal-0007-hector-arane-container">
              <img
                class="image-9-icon4"
                alt=""
                src="./public/frame-4772@3x.png"
              />

              <img
                class="image-9-icon4"
                alt=""
                src="./public/esferasavesdechile4-1@2x.png"
              />

              <img
                class="image-9-icon4"
                alt=""
                src="./public/llaverooveja-1@2x.png"
              />

              <div class="rectangle-parent17">
                <div class="frame-child38"></div>
                <div class="frame-parent89">
                  <div class="marcador-de-posicion-1-parent17">
                    <img
                      class="marcador-de-posicion-1-icon19"
                      alt=""
                      src="./public/marcadordeposicion-11@2x.png"
                    />

                    <div class="inicio2">Region de Aysèn</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent90">
              <div class="frame-child39"></div>
              <div class="emboque-chileno-container">
                <div class="magia-hecha-a2">Llavero ovejita</div>
                <div class="revisar-producto11">Revisar Servicio</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var frameContainer3 = document.getElementById("frameContainer3");
      if (frameContainer3) {
        frameContainer3.addEventListener("click", function (e) {
          window.location.href = "./oficial.html";
        });
      }
      
      var frameContainer5 = document.getElementById("frameContainer5");
      if (frameContainer5) {
        frameContainer5.addEventListener("click", function (e) {
          window.location.href = "./mural-de-noticias.html";
        });
      }
      
      var frameContainer15 = document.getElementById("frameContainer15");
      if (frameContainer15) {
        frameContainer15.addEventListener("click", function (e) {
          // Please sync "feed artesanos" to the project
        });
      }
      
      var homeText1 = document.getElementById("homeText1");
      if (homeText1) {
        homeText1.addEventListener("click", function (e) {
          window.location.href = "./oficial.html";
        });
      }
      
      var comunidadText2 = document.getElementById("comunidadText2");
      if (comunidadText2) {
        comunidadText2.addEventListener("click", function (e) {
          window.location.href = "./mural-de-noticias.html";
        });
      }
      
      var frameContainer27 = document.getElementById("frameContainer27");
      if (frameContainer27) {
        frameContainer27.addEventListener("click", function (e) {
          // Please sync "feed artesanos" to the project
        });
      }
      </script>
  </body>
</html>
