<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Tienda</title>

  <link rel="stylesheet" href="../static/css/global.css" />
  <link rel="stylesheet" href="../static/css/tienda.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work Sans:ital,wght@0,700;1,600&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" />
</head>

<body>
  <div class="tienda1">
    <div class="imagen3-2-container">
      <img class="imagen3-2-icon2" alt="" src="./static/img/imagen3-2@2x.png" />
      <div class="magia-hecha-a2">PasiónArtesana</div>
    </div>
    <div class="frame10">
      <div class="vector-frame">
        <img class="vector-icon30" alt="" src="./static/img/vector1.svg" />
      </div>
    </div>
    <div class="frame11">
      <div class="menu-item2">
        <div class="inicio-frame" id="frameContainer3">
          <div class="inicio2">Inicio</div>
        </div>
        <div class="sobre-nosotros-frame">
          <div class="inicio2">sobre nosotros</div>
        </div>
        <div class="inicio-frame" id="frameContainer5">
          <div class="inicio2">comunidad</div>
        </div>
      </div>
    </div>
    <div class="captura-de-pantalla-2023-11-267"></div>
    <div class="captura-de-pantalla-2023-12-084"></div>
    <img class="captura-de-pantalla-2023-12-085" alt=""
      src="./static/img/captura-de-pantalla-20231208-a-las-2117-1@2x.png" />
    <div class="frame-parent83">
      <div class="menu-parent1">
        <div class="magia-hecha-a2">Menu</div>
        <div class="frame12">
          <div class="inicio2">Home</div>
          <div class="inicio2">Comunidad</div>
          <div class="inicio2">Sobre nosotros</div>
        </div>
      </div>
      <div class="menu-parent1">
        <div class="magia-hecha-a2">Categorias</div>
        <div class="frame-wrapper21">
          <div class="frame13">
            <div class="inicio2">servicios</div>
            <div class="productos3">Productos</div>
            <div class="text3"></div>
          </div>
        </div>
      </div>
      <div class="menu-parent1">
        <div class="magia-hecha-a2">Social</div>
        <div class="instagram-parent1">
          <div class="inicio2">Instagram</div>
          <div class="xtwitter3">X(twitter)</div>
          <div class="inicio2">Youtube</div>
          <div class="inicio2">Facebook</div>
        </div>
      </div>
    </div>
    <div class="ingresa-tu-correo-para-mas-inf-parent1">
      <div class="magia-hecha-a2">Ingresa tu correo para mas infomacion:</div>
      <div class="frame-parent84">
        <div class="ingresa-tu-imail-aqui-parent1">
          <div class="inicio2">Ingresa tu email aqui...</div>
          <div class="enviar-wrapper1" id="frameContainer15">
            <div class="enviar3">Enviar</div>
          </div>
        </div>
        <div class="frame-child36"></div>
      </div>
    </div>
    <div class="frame-parent85">
      <div class="menu-parent1">
        <div class="magia-hecha-a2">Menu</div>
        <div class="frame12">
          <div class="home4" id="homeText1">Home</div>
          <div class="home4" id="comunidadText2">Comunidad</div>
          <div class="inicio2">Sobre nosotros</div>
        </div>
      </div>
      <div class="menu-parent1">
        <div class="magia-hecha-a2">Categorias</div>
        <div class="frame-wrapper21">
          <div class="frame13">
            <div class="inicio2">servicios</div>
            <div class="productos3">Productos</div>
            <div class="text3"></div>
          </div>
        </div>
      </div>
      <div class="menu-parent1">
        <div class="magia-hecha-a2">Social</div>
        <div class="instagram-parent1">
          <div class="inicio2">Instagram</div>
          <div class="xtwitter3">X(twitter)</div>
          <div class="inicio2">Youtube</div>
          <div class="inicio2">Facebook</div>
        </div>
      </div>
    </div>
    <div class="ingresa-tu-correo-para-mas-inf-parent2">
      <div class="magia-hecha-a2">Ingresa tu correo para mas infomacion:</div>
      <div class="frame-parent84">
        <div class="ingresa-tu-imail-aqui-parent1">
          <div class="inicio2">Ingresa tu email aqui...</div>
          <div class="enviar-wrapper1" id="frameContainer27">
            <div class="enviar3">Enviar</div>
          </div>
        </div>
        <div class="frame-child36"></div>
      </div>
    </div>
    <div class="tienda-child">
      <div class="descubre-a-nuestros-artesanos-group">
        <div class="descubre-a-nuestros1">Descubre a nuestros artesanos</div>
        <div class="descubre-los-porductos2">
          Descubre los porductos y servicios de nuestros artesanos
        </div>
      </div>
    </div>
    <div class="frame-parent87">
      <!-- Emboque Chileno-->
      <div class="frame-wrapper23">
        <div class="frame-parent88">
          <div class="horizontal-0007-hector-arane-container">
            <img class="image-9-icon4" alt="" src="./static/img/emboque1.png" />
            <div class="rectangle-parent17">
              <div class="frame-child38"></div>
              <div class="frame-parent89">
                <div class="marcador-de-posicion-1-parent17">
                  <img class="marcador-de-posicion-1-icon19" alt="" src="./static/img/marcadordeposicion-11@2x.png" />
                  <div class="inicio2">Region de Aysèn</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="frame-parent90">
            <div class="frame-child39"></div>
            <div class="emboque-chileno-container">
              <div class="magia-hecha-a2">Emboque Chileno</div>
              <div class="revisar-producto11">
                <p class="revisar-producto12">Revisar Producto</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Carpintero 1-->
      <div class="frame-wrapper23">
        <div class="frame-parent88">
          <div class="horizontal-0007-hector-arane-container">
            <img class="image-9-icon4" alt="" src="./static/img/carpintero1.png" />
            <div class="rectangle-parent17">
              <div class="frame-child38"></div>
              <div class="frame-parent89">
                <div class="marcador-de-posicion-1-parent17">
                  <img class="marcador-de-posicion-1-icon19" alt="" src="./static/img/marcadordeposicion-11@2x.png" />
                  <div class="inicio2">Region de Aysèn</div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent90">
            <div class="frame-child39"></div>
            <div class="emboque-chileno-container">
              <div class="magia-hecha-a2">Carpintero</div>
              <div class="revisar-producto11">Revisar Servicio</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carpintero 2-->
      <div class="frame-wrapper23">
        <div class="frame-parent88">
          <div class="horizontal-0007-hector-arane-container">
            <img class="image-9-icon4" alt="" src="./static/img/carpintero2.png" />
            <div class="rectangle-parent17">
              <div class="frame-child38"></div>
              <div class="frame-parent89">
                <div class="marcador-de-posicion-1-parent17">
                  <img class="marcador-de-posicion-1-icon19" alt="" src="./static/img/marcadordeposicion-11@2x.png" />
                  <div class="inicio2">Region de Aysèn</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="frame-parent90">
            <div class="frame-child39"></div>
            <div class="emboque-chileno-container">
              <div class="magia-hecha-a2">Carpintero</div>
              <div class="revisar-producto11">Revisar Servicio</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Mini Conejo-->
      <div class="frame-wrapper23">
        <div class="frame-parent97">
          <div class="horizontal-0007-hector-arane-container">
            <img class="captura-de-pantalla-2023-11-268" alt="" src="./static/img/conejitos1.png" />
            <div class="rectangle-parent17">
              <div class="frame-child38"></div>
              <div class="frame-parent89">
                <div class="marcador-de-posicion-1-parent17">
                  <img class="marcador-de-posicion-1-icon19" alt="" src="./static/img/marcadordeposicion-11@2x.png" />
                  <div class="inicio2">Region del Bio Bio</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="frame-parent90">
            <div class="frame-child39"></div>
            <div class="emboque-chileno-container">
              <div class="magia-hecha-a2">Mini conejito</div>
              <div class="revisar-producto11">Revisar Producto</div>
            </div>
          </div>
        </div>
      </div>
      <!--Ebanista-->
      <div class="frame-wrapper23">
        <div class="frame-parent97">
          <div class="horizontal-0007-hector-arane-container">
            <img class="image-9-icon4" alt="" src="./static/img/ebanista1.png" />
            <div class="rectangle-parent17">
              <div class="frame-child38"></div>
              <div class="frame-parent89">
                <div class="marcador-de-posicion-1-parent17">
                  <img class="marcador-de-posicion-1-icon19" alt="" src="./static/img/marcadordeposicion-11@2x.png" />
                  <div class="inicio2">Region de Maule</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="frame-parent90">
            <div class="frame-child39"></div>
            <div class="emboque-chileno-container">
              <div class="magia-hecha-a2">Ebanista</div>
              <div class="revisar-producto11">Revisar Producto</div>
            </div>
          </div>
        </div>
      </div>
      <!--Carpintero 3-->
      <div class="frame-wrapper23">
        <div class="frame-parent88">
          <div class="horizontal-0007-hector-arane-container">
            <img class="image-9-icon4" alt="" src="./static/img/carpintero3.png" />
            <div class="rectangle-parent17">
              <div class="frame-child38"></div>
              <div class="frame-parent89">
                <div class="marcador-de-posicion-1-parent17">
                  <img class="marcador-de-posicion-1-icon19" alt="" src="./static/img/marcadordeposicion-11@2x.png" />
                  <div class="inicio2">Region de Aysèn</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="frame-parent90">
            <div class="frame-child39"></div>
            <div class="emboque-chileno-container">
              <div class="magia-hecha-a2">Carpintero</div>
              <div class="revisar-producto11">Revisar Servicio</div>
            </div>
          </div>
        </div>
      </div>
      <!--cesta fungi-->
      <div class="frame-wrapper23">
        <div class="frame-parent97">
          <div class="horizontal-0007-hector-arane-container">
            <img class="oct2021-3-1-icon3" alt="" src="./static/img/cestafunji1.png" />
            <div class="rectangle-parent17">
              <div class="frame-child38"></div>
              <div class="frame-parent89">
                <div class="marcador-de-posicion-1-parent17">
                  <img class="marcador-de-posicion-1-icon19" alt="" src="./static/img/marcadordeposicion-11@2x.png" />
                  <div class="inicio2">Region de la Araucania</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="frame-parent108">
            <div class="frame-child39"></div>
            <div class="emboque-chileno-container">
              <div class="magia-hecha-a2">Cesta Fungi</div>
              <div class="revisar-producto11">Revisar Producto</div>
            </div>
          </div>
        </div>
      </div>
      <!--pesebre asis-->
      <div class="frame-wrapper23">
        <div class="frame-parent97">
          <div class="horizontal-0007-hector-arane-container">
            <div class="esfera-28-1-container">
              <img class="esfera-28-1-icon2" alt="" src="./static/img/pesebre1.png" />
            </div>
            <div class="rectangle-parent17">
              <div class="frame-child38"></div>
              <div class="frame-parent89">
                <div class="marcador-de-posicion-1-parent17">
                  <img class="marcador-de-posicion-1-icon19" alt="" src="./static/img/marcadordeposicion-11@2x.png" />
                  <div class="inicio2">Region de los Rìos</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="frame-parent90">
            <div class="frame-child39"></div>
            <div class="pesebre-ass-group">
              <div class="magia-hecha-a2">Pesebre Asís</div>
              <div class="revisar-producto11">Revisar Producto</div>
            </div>
          </div>
        </div>
      </div>
      <!--Chupalla-->
      <div class="frame-wrapper23">
        <div class="frame-parent97">
          <div class="horizontal-0007-hector-arane-container">
                <img class="image-9-icon4" alt="" src="./static/img/chupalla1.png" />
                <div class="rectangle-parent17">
                  <div class="frame-child38"></div>
                  <div class="frame-parent89">
                    <div class="marcador-de-posicion-1-parent17">
                      <img class="marcador-de-posicion-1-icon19" alt="" src="./static/img/marcadordeposicion-11@2x.png" />
                      <div class="inicio2">Region del Bio Bio</div>
                    </div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="frame-parent90">
                <div class="frame-child39"></div>
                <div class="emboque-chileno-container">
                  <div class="magia-hecha-a2">Chupalla Tòrola</div>
                  <div class="revisar-producto11">Revisar Producto</div>
                </div>
              </div>
            </div>
          </div>
      <!--Pebrera1-->
      <div class="frame-wrapper23">
        <div class="frame-parent97">
          <div class="horizontal-0007-hector-arane-container">
            <img class="captura-de-pantalla-2023-11-268" alt="" src="./static/img/pebrera1.png" />
            <div class="rectangle-parent17">
              <div class="frame-child38"></div>
              <div class="frame-parent89">
                <div class="marcador-de-posicion-1-parent17">
                  <img class="marcador-de-posicion-1-icon19" alt="" src="./static/img/marcadordeposicion-11@2x.png" />
                  <div class="inicio2">Region del Bio Bio</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="frame-parent90">
            <div class="frame-child39"></div>
            <div class="emboque-chileno-container">
              <div class="magia-hecha-a2">Pebrera pepa brava</div>
              <div class="revisar-producto11">Revisar Producto</div>
            </div>
          </div>
        </div>
      </div>
      <!--colgante kopiwe-->
      <div class="frame-wrapper23">
        <div class="frame-parent97">
          <div class="horizontal-0007-hector-arane-container">
            <img class="captura-de-pantalla-2023-11-268" alt="" src="./static/img/colgante1.png" />
            <div class="rectangle-parent17">
              <div class="frame-child38"></div>
              <div class="frame-parent89">
                <div class="marcador-de-posicion-1-parent17">
                  <img class="marcador-de-posicion-1-icon19" alt="" src="./static/img/marcadordeposicion-11@2x.png" />
                  <div class="inicio2">Region de Maule</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="frame-parent108">
            <div class="frame-child39"></div>
            <div class="emboque-chileno-container">
              <div class="magia-hecha-a2">Colgante Copihue</div>
              <a class="revisar-producto11" href="/oficial">Revisar Producto</a>
            </div>
          </div>
        </div>
      </div>
      <!--llavero ovejita-->
      <div class="frame-wrapper23">
        <div class="frame-parent88">
          <div class="horizontal-0007-hector-arane-container">
            <img class="image-9-icon4" alt="" src="./static/img/frame-4772@3x.png" />
            <img class="image-9-icon4" alt="" src="./static/img/esferasavesdechile4-1@2x.png" />
            <img class="image-9-icon4" alt="" src="./static/img/llaverooveja-1@2x.png" />
            <div class="rectangle-parent17">
              <div class="frame-child38"></div>
              <div class="frame-parent89">
                <div class="marcador-de-posicion-1-parent17">
                  <img class="marcador-de-posicion-1-icon19" alt="" src="./static/img/marcadordeposicion-11@2x.png" />
                  <div class="inicio2">Region de Aysèn</div>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="frame-parent90">
            <div class="frame-child39"></div>
            <div class="emboque-chileno-container">
              <div class="magia-hecha-a2">Llavero ovejita</div>
              <div class="revisar-producto11">Revisar Servicio</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var frameContainer3 = document.getElementById("frameContainer3");
    if (frameContainer3) {
      frameContainer3.addEventListener("click", function (e) {
        window.location.href = "/index";
      });
    }

    var frameContainer5 = document.getElementById("frameContainer5");
    if (frameContainer5) {
      frameContainer5.addEventListener("click", function (e) {
        window.location.href = "/noticias";
      });
    }

    //este es el de enviar correo
    var frameContainer15 = document.getElementById("frameContainer15");
    if (frameContainer15) {
      frameContainer15.addEventListener("click", function (e) {
        window.location.href = "/sobrenosotros"
      });
    }

    var homeText1 = document.getElementById("homeText1");
    if (homeText1) {
      homeText1.addEventListener("click", function (e) {
        window.location.href = "/index";
      });
    }

    var comunidadText2 = document.getElementById("comunidadText2");
    if (comunidadText2) {
      comunidadText2.addEventListener("click", function (e) {
        window.location.href = "/noticias";
      });
    }
    //no funciona el sobre nosotros hay que arreglarlo
    var sobreNosotrosText1 = document.getElementById("frameContainer27");
    if (sobreNosotrosText1) {
      sobreNosotrosText1.addEventListener("click", function (e) {
        window.location.href = "/sobrenosotros"
      });
    }
  </script>
</body>

</html>