<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./static/css/global.css" />
  <link rel="stylesheet" href="./static/css/tienda.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work Sans:ital,wght@0,700;1,600&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" />
</head>
  <body>
    <div class="tienda">
      <div class="logotienda-parent">
        <img class="logotienda-icon" alt="" src="./static/img/logotienda@2x.png" />
        <div class="magia-hecha-a">PasiónArtesana</div>
      </div>
      <div class="frame">
        <div class="logintienda-wrapper">
          <img class="logintienda-icon" alt="" src="./static/img/logintienda.svg" id="logintiendaIcon" />
        </div>
      </div>
      <div class="opcionesmenutienda">
        <div class="menuitemtienda">
          <div class="iniciotienda" id="iniciotiendaContainer">
            <div class="inicio" id="inicioText">Inicio</div>
          </div>
          <div class="publicartienda">
            <div class="inicio" id="publicarText">Publicar</div>
          </div>
          <div class="publicartienda">
            <div class="inicio" id="comunidadText">comunidad</div>
          </div>
        </div>
      </div>
      <img class="findelfeedtienda-icon" alt="" src="./static/img/findelfeedtienda@2x.png"/>
      <div class="frame-parent">
        <div class="menu-parent">
          <div class="magia-hecha-a">Menu</div>
          <div class="frame1">
            <div class="home">Home</div>
            <div class="home">Comunidad</div>
            <div class="home">Sobre nosotros</div>
          </div>
        </div>
        <div class="menu-parent">
          <div class="magia-hecha-a">Categorias</div>
          <div class="frame-wrapper">
            <div class="frame2">
              <div class="home">servicios</div>
              <div class="productos">Productos</div>
              <div class="text"></div>
            </div>
          </div>
        </div>
        <div class="menu-parent">
          <div class="magia-hecha-a">Social</div>
          <div class="instagram-parent">
            <div class="home">Instagram</div>
            <div class="xtwitter">X(twitter)</div>
            <div class="home">Youtube</div>
            <div class="home">Facebook</div>
          </div>
        </div>
      </div>
      <div class="ingresa-tu-correo-para-mas-inf-parent">
        <div class="magia-hecha-a">Ingresa tu correo para mas infomacion:</div>
        <div class="frame-group">
          <div class="ingresa-tu-imail-aqui-parent">
            <div class="home">Ingresa tu email aqui...</div>
            <div class="enviar-wrapper">
              <div class="enviar">Enviar</div>
            </div>
          </div>
          <div class="frame-child"></div>
        </div>
      </div>
      <div class="menucategoriassocialtienda-parent">
        <div class="menu-parent">
          <div class="magia-hecha-a">Menu</div>
          <div class="frame1">
            <div class="inicio" id="homeText1">Home</div>
            <div class="inicio" id="comunidadText2">Comunidad</div>
            <div class="inicio" id="sobreNosotrosText1">Sobre nosotros</div>
          </div>
        </div>
        <div class="menu-parent">
          <div class="magia-hecha-a">Categorias</div>
          <div class="frame-wrapper">
            <div class="frame2">
              <div class="home">servicios</div>
              <div class="text"></div>
            </div>
          </div>
        </div>
        <div class="menu-parent">
          <div class="magia-hecha-a">Social</div>
          <div class="instagram-parent">
            <div class="home">Instagram</div>
            <div class="xtwitter">X(twitter)</div>
            <div class="home">Youtube</div>
          </div>
        </div>
      </div>
      <div class="ingresa-tu-correo-para-mas-inf-group">
        <div class="magia-hecha-a">Ingresa tu correo para mas infomacion:</div>
        <div class="frame-group">
          <div class="ingresa-tu-imail-aqui-parent">
            <div class="home">Ingresa tu email aqui...</div>
            <div class="enviar-wrapper">
              <div class="enviar">Enviar</div>
            </div>
          </div>
          <div class="frame-child"></div>
        </div>
      </div>
      <div class="tienda-inner">
        <div class="descubre-a-nuestros-artesanos-parent">
          <div class="descubre-a-nuestros">Descubre a nuestros artesanos</div>
          <div class="descubre-los-porductos">
            Descubre los porductos y servicios de nuestros artesanos
          </div>
        </div>
      </div>
      <div class="frame-parent1">
        <div class="frame-wrapper1">
          <div class="frame-parent2">
            <div class="trompomadera-parent">
              <img
                class="trompomadera-icon" alt="" src="./static/img/emboque2.png" />
              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img class="marcador-de-posicion-1-icon" alt="" src="./static/img/marcadordeposicion-1@2x.png" />
                    <div class="home">Region de Aysèn</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publicacion1">
                <div class="magia-hecha-a">Emboque Chileno</div>
                <div class="revisar-producto">
                  <p class="revisar-producto1">Revisar Producto</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent2">
            <div class="trompomadera-parent">
              <img class="trompomadera-icon" alt="" src="./static/img/carpintero1.png"/>
              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img class="marcador-de-posicion-1-icon" alt="" src="./static/img/marcadordeposicion-1@2x.png" />
                    <div class="home">Region de Aysèn</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publicacion1">
                <div class="magia-hecha-a">Carpintero</div>
                <div class="revisar-producto">Revisar Servicio</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent2">
            <div class="trompomadera-parent">
              <img class="trompomadera-icon" alt="" src="./static/img/carpintero2.png"/>
              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img class="marcador-de-posicion-1-icon"  alt="" src="./static/img/marcadordeposicion-1@2x.png" />
                    <div class="home">Region de Aysèn</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publicacion1">
                <div class="magia-hecha-a">Carpintero</div>
                <div class="revisar-producto">Revisar Servicio</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent11">
            <div class="trompomadera-parent">
              <img class="conejitos-mini-contextual-1-1-icon" alt="" src="./static/img/conejitos1.png"  />
              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img class="marcador-de-posicion-1-icon"  alt="" src="./static/img/marcadordeposicion-1@2x.png" />
                    <div class="home">Region del Bio Bio</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publicacion1">
                <div class="magia-hecha-a">Mini conejito</div>
                <div class="revisar-producto">Revisar Producto</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent11">
            <div class="trompomadera-parent">
              <img class="trompomadera-icon"  alt="" src="./static/img/ebanista1.png" />
              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img class="marcador-de-posicion-1-icon"  alt="" src="./static/img/marcadordeposicion-1@2x.png"/>
                    <div class="home">Region de Maule</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publicacion1">
                <div class="magia-hecha-a">Ebanista</div>
                <div class="revisar-producto">Revisar Producto</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent2">
            <div class="trompomadera-parent">
              <img class="trompomadera-icon" alt="" src="./static/img/carpintero3.png" />
              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img class="marcador-de-posicion-1-icon"  alt="" src="./static/img/marcadordeposicion-1@2x.png" />
                    <div class="home">Region de Aysèn</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publicacion1">
                <div class="magia-hecha-a">Zapatero</div>
                <div class="revisar-producto">Revisar Servicio</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent11">
            <div class="trompomadera-parent">
              <img class="limones-icon" alt="" src="./static/img/cestafunji1.png" />
              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img class="marcador-de-posicion-1-icon" alt="" src="./static/img/marcadordeposicion-1@2x.png" />
                    <div class="home">Region de la Araucania</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent22">
              <div class="frame-child1"></div>
              <div class="publicacion1">
                <div class="magia-hecha-a">Cesta Fungi</div>
                <div class="revisar-producto">Revisar Producto</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent11">
            <div class="trompomadera-parent">
              <div class="pesebretienda-wrapper">
                <img class="pesebretienda-icon"  alt="" src="./static/img/pesebre1.png" />
              </div>
              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img class="marcador-de-posicion-1-icon"  alt=""  src="./static/img/marcadordeposicion-1@2x.png" />
                    <div class="home">Region de los Rìos</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publiacion8">
                <div class="magia-hecha-a">Pesebre Asís</div>
                <div class="revisar-producto">Revisar Producto</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent11">
            <div class="trompomadera-parent">
              <div class="pesebretienda-wrapper">
                <div class="chupalla-tienda-parent">
                  <img class="trompomadera-icon" alt="" src="./static/img/chupalla1.png"  />
                  <div class="rectangle-parent">
                    <div class="frame-inner"></div>
                    <div class="frame-parent3">
                      <div class="marcador-de-posicion-1-parent">
                        <img class="marcador-de-posicion-1-icon" alt="" src="./static/img/marcadordeposicion-1@2x.png" />
                        <div class="home">Region del Bio Bio</div>
                      </div>
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img class="marcador-de-posicion-1-icon"  alt=""  src="./static/img/marcadordeposicion-1@2x.png"/>
                    <div class="home">Region de Maule</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publiacion8">
                <div class="magia-hecha-a">Chupalla Tòrola</div>
                <div class="revisar-producto">Revisar Producto</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent11">
            <div class="trompomadera-parent">
              <img class="conejitos-mini-contextual-1-1-icon" alt="" src="./static/img/pebrera1.png" />
              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img  class="marcador-de-posicion-1-icon"  alt=""  src="./static/img/marcadordeposicion-1@2x.png" />
                    <div class="home">Region del Bio Bio</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publicacion1">
                <div class="magia-hecha-a">Pebrera pepa brava</div>
                <div class="revisar-producto">Revisar Producto</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent11">
            <div class="trompomadera-parent">
              <img class="conejitos-mini-contextual-1-1-icon" alt="" src="./static/img/colgante1.png" />
              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img class="marcador-de-posicion-1-icon" alt="" src="./static/img/marcadordeposicion-1@2x.png" />
                    <div class="home">Region de Maule</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent22">
              <div class="frame-child1"></div>
              <div class="publicacion1">
                <div class="magia-hecha-a">Colgante Copihue</div>
                <div class="revisar-producto8" id="revisarProductoText7">
                  Revisar Producto
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper1">
          <div class="frame-parent2">
            <div class="trompomadera-parent">
              <img class="trompomadera-icon" alt="" src="./static/img/llaverooveja-1@2x.png"/>
              <div class="rectangle-parent">
                <div class="frame-inner"></div>
                <div class="frame-parent3">
                  <div class="marcador-de-posicion-1-parent">
                    <img
                      class="marcador-de-posicion-1-icon" alt="" src="./static/img/marcadordeposicion-1@2x.png"/>
                    <div class="home">Region de Aysèn</div>
                  </div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-child1"></div>
              <div class="publicacion1">
                <div class="magia-hecha-a">Llavero ovejita</div>
                <div class="revisar-producto">Revisar Servicio</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var logintiendaIcon = document.getElementById("logintiendaIcon");
      if (logintiendaIcon) {
        logintiendaIcon.addEventListener("click", function (e) {
          window.location.href = "/perfil";
        });
      }
      
      var inicioText = document.getElementById("inicioText");
      if (inicioText) {
        inicioText.addEventListener("click", function (e) {
          window.location.href = "/index";
        });
      }
      
      var iniciotiendaContainer = document.getElementById("iniciotiendaContainer");
      if (iniciotiendaContainer) {
        iniciotiendaContainer.addEventListener("click", function (e) {
          window.location.href = "/index";
        });
      }
      
      var publicarText = document.getElementById("publicarText");
      if (publicarText) {
        publicarText.addEventListener("click", function (e) {
          window.location.href = "/publicar";
        });
      }
      
      var comunidadText = document.getElementById("comunidadText");
      if (comunidadText) {
        comunidadText.addEventListener("click", function (e) {
          window.location.href = "/noticias";
        });
      }
      
      var homeText1 = document.getElementById("homeText1");
      if (homeText1) {
        homeText1.addEventListener("click", function (e) {
          window.location.href = "/index";
        });
      }
      
      var comunidadText2 = document.getElementById("comunidadText2");
      if (comunidadText2) {
        comunidadText2.addEventListener("click", function (e) {
          window.location.href = "/noticias";
        });
      }
      
      var sobreNosotrosText1 = document.getElementById("sobreNosotrosText1");
      if (sobreNosotrosText1) {
        sobreNosotrosText1.addEventListener("click", function (e) {
          window.location.href = "/sobrenosotros";
        });
      }
      
      var publicarText1 = document.getElementById("publicarText1");
      if (publicarText1) {
        publicarText1.addEventListener("click", function (e) {
          window.location.href = "/publicar";
        });
      }
      
      var revisarProductoText7 = document.getElementById("revisarProductoText7");
      if (revisarProductoText7) {
        revisarProductoText7.addEventListener("click", function (e) {
          window.location.href = "/oficial";
        });
      }
      </script>
  </body>
</html>
