<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Ventas</title>
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Lista de Ventas</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ID Usuario</th>
                    <th>ID Producto</th>
                    <th>Total</th>
                    <th>Fecha Creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                    <tr>
                        <td>{{ venta.id }}</td>
                        <td>{{ venta.id_usuario }}</td>
                        <td>{{ venta.id_producto }}</td>
                        <td>{{ venta.total }}</td>
                        <td>{{ venta.fecha_creacion }}</td>
                        <td>
                            <a href="/ventas/{{ venta.id }}" class="btn btn-info">Detalles</a>
                            <a href="/ventas/editar/{{ venta.id }}" class="btn btn-warning">Editar</a>
                            <a href="/ventas/eliminar/{{ venta.id }}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Enlace a Bootstrap JS y Popper.js (Necesarios para el funcionamiento de Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
