.frame-child {
  position: relative;
  background-color: var(--color-white);
  width: 1440px;
  height: 800px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.oig-2-icon {
  position: relative;
  width: 60px;
  height: 79px;
  object-fit: cover;
}
.magia-hecha-a {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.oig-2-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3.82px;
}
.inicio {
  position: relative;
  font-weight: 500;
}
.frame-container,
.inicio-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.inicio-parent {
  width: 479px;
  gap: var(--gap-31xl);
  font-size: var(--button-1-size);
  color: var(--color-black);
}
.frame-container {
  width: 855px;
  gap: 244px;
}
.vector-icon,
.vector-icon1 {
  position: relative;
  width: 21px;
  height: 21.1px;
}
.vector-icon1 {
  width: 20px;
}
.vector-parent {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-11xl);
}
.frame-group,
.frame-parent,
.vector-parent {
  display: flex;
  justify-content: flex-start;
}
.frame-group {
  margin: 0 !important;
  position: absolute;
  top: 40px;
  left: 100px;
  width: 1340px;
  flex-direction: row;
  align-items: center;
  gap: 315px;
  z-index: 1;
}
.frame-parent {
  height: 106px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  z-index: 0;
  text-align: left;
  font-size: var(--sub-heading-1-size);
  color: var(--color-darkgreen);
  font-family: var(--button-1);
}
.hermosa-foto-arbol-montanas-di-icon {
  position: relative;
  width: 1440px;
  height: 735px;
  object-fit: cover;
  z-index: 1;
}
.cual-es-nuestro {
  position: relative;
  line-height: 80px;
  display: inline-block;
  width: 610px;
}
.nuestro-objetivo-es {
  margin: 0;
}
.d {
  color: var(--color-black);
}
.nuestro-objetivo-es-container1 {
  line-break: anywhere;
  width: 100%;
}
.nuestro-objetivo-es-container {
  position: relative;
  font-size: var(--sub-heading-2-size);
  line-height: 24px;
  font-weight: 300;
  display: flex;
  align-items: flex-end;
  width: 424px;
  -webkit-text-stroke: 1px #fff;
}
.cual-es-nuestro-objetivo-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 37px;
}
.explora-la-tienda {
  position: relative;
  font-size: var(--button-1-size);
  letter-spacing: 0.5px;
  font-weight: 600;
  font-family: var(--button-1);
  color: var(--color-white);
  text-align: left;
}
.explora-la-tienda-wrapper {
  cursor: pointer;
  border: 0;
  padding: 30px var(--padding-21xl);
  background-color: var(--color-orange);
  border-radius: var(--br-xl);
  width: 249px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 61px;
  position: undefined;
  width: 601px;
  margin-top: 193px;
}
.chris-ralston-09hgdzzkp-q-unsp-icon {
  position: relative;
  border-radius: var(--br-6xl);
  width: 818.9px;
  height: 851px;
  object-fit: cover;
}
.chris-ralston-09hgdzzkp-q-unsp-wrapper,
.frame-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chris-ralston-09hgdzzkp-q-unsp-wrapper {
  flex-direction: column;
  margin-left: -86px;
}
.frame-div {
  width: 1400.1px;
  height: 851.2px;
  flex-direction: row;
}
.frame-wrapper,
.header-section,
.header-section-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-section-inner {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 98px;
  width: 1342px;
  z-index: 2;
}
.header-section {
  position: relative;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--heading-1-size);
  color: var(--color-white);
  font-family: var(--button-1);
}
.descubre-crea-comparte {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.descubre-los-porductos {
  position: relative;
  font-size: var(--sub-heading-1-size);
  font-weight: 300;
  color: var(--color-gray-100);
}
.descubre-crea-comparte-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
}
.ver-todo {
  position: relative;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.ver-todo-wrapper {
  border-radius: var(--br-xl);
  background-color: var(--color-orange);
  width: 106px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-21xl);
  box-sizing: border-box;
  font-size: var(--button-1-size);
  color: var(--color-white);
}
.frame-parent2 {
  width: 1100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 568px;
}
.frame-item {
  position: relative;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--color-white);
  width: 375px;
  height: 114px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.zapatero {
  position: relative;
  font-weight: 600;
}
.revisar-producto {
  position: relative;
  font-size: var(--sub-heading-2-size);
  text-decoration: underline;
  color: var(--color-orange);
}
.zapatero-parent {
  margin: 0 !important;
  position: absolute;
  top: 32px;
  left: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  z-index: 1;
}
.marcador-de-posicion-1-icon {
  position: relative;
  width: 23px;
  height: 23px;
  object-fit: cover;
}
.frame-parent8,
.marcador-de-posicion-1-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent8 {
  margin: 0 !important;
  position: absolute;
  top: 17px;
  left: 22px;
  align-items: flex-start;
  gap: var(--gap-11xl);
  z-index: 0;
}
.frame-inner,
.frame1 {
  display: flex;
  flex-direction: column;
}
.frame-inner {
  background-color: var(--color-gray-300);
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame1 {
  position: absolute;
  top: 204px;
  left: -12px;
  width: 387px;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
}
.dsc09098-1-1-icon {
  position: relative;
  width: 387px;
  height: 204px;
  object-fit: cover;
}
.frame2 {
  position: absolute;
  top: -26px;
  left: -12px;
  width: 458px;
  height: 306px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 26px 0;
  box-sizing: border-box;
  background-image: url(./public/frame@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame-parent7 {
  position: relative;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-white);
  width: 375px;
  height: 254px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--sub-heading-2-size);
  color: var(--color-darkgreen);
}
.frame-parent5 {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--heading-3-size);
  color: var(--color-black);
}
.captura-de-pantalla-2023-11-26 {
  position: relative;
  width: 375px;
  height: 254px;
  object-fit: cover;
}
.captura-de-pantalla-2023-11-26-wrapper {
  position: absolute;
  top: 0;
  left: -59px;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-white);
  width: 434px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.frame-wrapper1 {
  position: absolute;
  top: 204px;
  left: 0;
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.emboque-chileno-parent {
  margin: 0 !important;
  position: absolute;
  top: 36px;
  left: 23px;
  gap: var(--gap-mini);
  z-index: 1;
}
.emboque-chileno-parent,
.frame-parent12,
.frame-parent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent12 {
  position: relative;
  gap: var(--gap-3xs);
  font-size: var(--heading-3-size);
  color: var(--color-black);
}
.frame-parent9 {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}
.rectangle-div {
  position: relative;
  background-color: var(--color-gray-300);
  width: 375px;
  height: 50px;
}
.rectangle-wrapper {
  width: 375px;
  height: 254px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url(./public/frame-477@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.chupalla-trtola-parent,
.frame-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper2 {
  height: 1px;
  position: relative;
  margin-top: -28px;
}
.chupalla-trtola-parent {
  margin: 0 !important;
  position: absolute;
  top: 32px;
  left: 24px;
  gap: var(--gap-mini);
  z-index: 1;
}
.frame-parent15 {
  height: 114px;
  flex-direction: column;
  position: relative;
  gap: var(--gap-3xs);
  margin-top: -28px;
  font-size: var(--heading-3-size);
  color: var(--color-black);
}
.frame-parent13,
.frame-parent15,
.frame-parent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent13 {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  flex-direction: column;
}
.frame-parent4 {
  flex-direction: row;
  gap: var(--gap-38xl);
}
.captura-de-pantalla-2023-11-261 {
  position: absolute;
  top: 0;
  left: 0;
  width: 378px;
  height: 254px;
  object-fit: cover;
}
.captura-de-pantalla-2023-11-26-parent {
  position: relative;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-white);
  width: 375px;
  height: 254px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper4 {
  width: 375px;
  height: 254px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url(./public/frame-4771@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-9-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 254px;
  object-fit: cover;
}
.image-9-parent {
  position: relative;
  width: 375px;
  height: 254px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(./public/frame-4772@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame,
.frame-parent3,
.recipe-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent3 {
  justify-content: flex-start;
  gap: 58px;
  font-size: var(--sub-heading-2-size);
  color: var(--color-darkgreen);
}
.frame,
.recipe-section {
  box-sizing: border-box;
}
.recipe-section {
  width: 1440px;
  justify-content: flex-start;
  padding: var(--padding-81xl);
  gap: var(--gap-51xl);
  margin-top: -52px;
}
.frame {
  position: absolute;
  top: 0;
  left: -1px;
  width: 1441px;
  height: 1933px;
  overflow: hidden;
  justify-content: flex-end;
  padding: 0 1px 0 0;
}
.captura-de-pantalla-2023-11-262 {
  position: relative;
  width: 1438px;
  height: 682px;
  object-fit: cover;
  z-index: 0;
}
.nuestro-objetivo-es-container2 {
  position: relative;
  font-size: var(--sub-heading-2-size);
  line-height: 24px;
  font-weight: 300;
  display: flex;
  align-items: flex-end;
  width: 488px;
  color: var(--color-gray-200);
}
.sobre-nosotros-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.saber-mas-wrapper {
  border-radius: var(--br-xl);
  background-color: var(--color-orange);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-21xl);
  font-size: var(--button-1-size);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.frame-parent26,
.frame-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent26 {
  margin: 0 !important;
  position: absolute;
  top: 57px;
  left: 45px;
  gap: var(--gap-21xl);
  z-index: 0;
}
.frame-wrapper8 {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  position: relative;
}
.frame-wrapper7 {
  margin: 0 !important;
  position: absolute;
  top: 172px;
  left: 719px;
  z-index: 1;
}
.about-us-section,
.captura-de-pantalla-2023-11-26-group,
.frame-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.captura-de-pantalla-2023-11-26-group {
  position: relative;
  gap: var(--gap-3xs);
}
.about-us-section {
  padding: var(--padding-81xl) 0;
}
.frame-icon {
  position: relative;
  border-radius: var(--br-xl);
  width: 575px;
  height: 578px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.images-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 61px;
  object-fit: cover;
}
.images-1-wrapper {
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  width: 50px;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
}
.miguel-zapata {
  position: relative;
  font-size: var(--sub-heading-2-size);
  line-height: 24px;
  font-weight: 300;
  color: var(--color-gray-100);
}
.frame-parent33,
.pesebre-ass-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frame-parent33 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-16xl);
}
.vector-icon2 {
  position: relative;
  width: 22.1px;
  height: 21px;
}
.vector-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.07px;
}
.el-pesebre-de {
  position: relative;
  line-height: 24px;
  font-weight: 300;
  display: flex;
  align-items: flex-end;
  width: 510px;
}
.frame-parent34 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  font-size: var(--sub-heading-2-size);
}
.image-10-icon {
  position: absolute;
  bottom: -398px;
  left: 0;
  width: 510px;
  height: 652px;
  object-fit: cover;
}
.image-10-wrapper {
  position: relative;
  width: 507px;
  height: 254px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(./public/frame-4773@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame-parent31 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.vector-icon7 {
  position: relative;
  width: 21px;
  height: 19.8px;
}
.vector-container {
  width: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.vector-icon8 {
  position: relative;
  width: 20px;
  height: 22.4px;
}
.frame-parent35 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  font-size: var(--button-1-size);
}
.frame-parent29,
.frame-parent30 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent30 {
  margin: 0 !important;
  position: absolute;
  top: 56px;
  left: 33px;
  flex-direction: column;
  gap: var(--gap-9xl);
  z-index: 1;
}
.frame-parent29 {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  flex-direction: row;
  position: relative;
  gap: var(--gap-3xs);
}
.frame-child6 {
  position: relative;
  border-radius: var(--br-xl);
  width: 635px;
  height: 638px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.f768x1-29378-29505-0-1-icon,
.image-16-icon,
.image-17-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 78px;
  object-fit: cover;
}
.f768x1-29378-29505-0-1-icon,
.image-16-icon {
  width: 104px;
  height: 58px;
}
.image-16-icon {
  width: 655px;
  height: 367px;
}
.image-10-parent {
  position: relative;
  width: 507px;
  height: 254px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(./public/frame-4774@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame-parent28,
.frame-parent36 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent36 {
  position: relative;
  gap: var(--gap-3xs);
}
.frame-parent28 {
  gap: var(--gap-71xl);
}
.image-18-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 77px;
  height: 51px;
  object-fit: cover;
}
.image-15-icon,
.images-2-1-icon,
.img-4319-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 47px;
  object-fit: cover;
}
.image-15-icon,
.img-4319-1-icon {
  width: 511px;
  height: 333px;
}
.img-4319-1-icon {
  height: 254px;
}
.frame-child9,
.image-15-parent {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.image-15-parent {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 507px;
  height: 254px;
}
.frame-child9 {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.las-esferas-de {
  position: relative;
  line-height: 24px;
  font-weight: 300;
  display: flex;
  align-items: flex-end;
  width: 497px;
}
.frame-child10 {
  position: relative;
  width: 507px;
  height: 254px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-parent53 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}
.community-section-inner,
.frame-parent27,
.frame-parent53 {
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent27 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-71xl);
}
.community-section-inner {
  font-size: var(--sub-heading-1-size);
}
.community-section,
.community-section-inner,
.frame3 {
  display: flex;
  flex-direction: column;
}
.community-section {
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-81xl);
  gap: var(--gap-51xl);
  margin-top: -114px;
}
.frame3 {
  position: absolute;
  top: 1934px;
  left: 0;
  width: 1440px;
  height: 2317px;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-end;
}
.frame-child11 {
  border-radius: var(--br-xl);
  background-color: var(--color-darkgreen);
  overflow: hidden;
  z-index: 0;
}
.encuentra-lo-que-container {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 600;
  display: inline-block;
  width: 787px;
}
.servicio {
  position: relative;
  letter-spacing: 0.5px;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  width: 100px;
  height: 22px;
  flex-shrink: 0;
}
.app-store-blue {
  border-radius: 8.24px;
  background-color: var(--color-orange);
  width: 150.1px;
  height: 54.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 12.619651794433594px 21px;
  box-sizing: border-box;
}
.google-play-blue,
.producto {
  display: flex;
  align-items: flex-end;
}
.producto {
  position: relative;
  letter-spacing: 0.5px;
  font-weight: 600;
  width: 107px;
}
.google-play-blue {
  border-radius: 11.71px;
  background-color: var(--color-orange);
  width: 150px;
  height: 55.9px;
  flex-direction: column;
  justify-content: center;
  padding: 0 14.082000732421875px;
  box-sizing: border-box;
}
.app-store-blue-parent,
.encuentra-lo-que-necesitas-en-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.app-store-blue-parent {
  flex-direction: row;
  gap: 39px;
  font-size: var(--button-1-size);
  font-family: var(--font-poppins);
}
.encuentra-lo-que-necesitas-en-parent {
  position: absolute;
  top: 82px;
  left: 0;
  flex-direction: column;
  gap: 60px;
}
.forma-de-bio-bio-region-de-chi-icon {
  position: absolute;
  top: 0;
  left: 747px;
  width: 313px;
  height: 342px;
  object-fit: cover;
}
.frame-parent59 {
  position: relative;
  width: 1060px;
  height: 342px;
}
.frame-child12,
.frame-wrapper9 {
  position: absolute;
  margin: 0 !important;
}
.frame-wrapper9 {
  top: 43px;
  left: 69px;
  width: 787px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.frame-child12 {
  top: 0;
  left: calc(50% - 530px);
  background-color: var(--color-darkgreen);
  width: 150px;
  height: 5px;
  z-index: 0;
}
.rectangle-container {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.vector-icon30 {
  position: relative;
  width: 8px;
  height: 16px;
}
.frame-parent61,
.vector-wrapper {
  flex-direction: row;
  align-items: flex-start;
}
.vector-wrapper {
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-silver);
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);
}
.frame-parent61 {
  gap: 34px;
}
.cta-section,
.frame-parent60,
.frame-parent61 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent60 {
  flex-direction: row;
  align-items: center;
  gap: 55px;
}
.cta-section {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-31xl) var(--padding-81xl) var(--padding-81xl);
  gap: var(--gap-3xs);
}
.oig-1-icon {
  position: relative;
  width: 64px;
  height: 52px;
  object-fit: cover;
}
.home {
  position: relative;
  font-weight: 500;
  color: var(--color-darkgreen);
}
.menu-parent {
  flex-direction: column;
  gap: var(--gap-11xl);
}
.frame-frame,
.frame6,
.menu-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame6 {
  flex-direction: column;
  gap: var(--gap-mini);
}
.frame-frame {
  flex-direction: row;
  font-size: var(--sub-heading-2-size);
}
.xtwitter {
  position: relative;
  font-weight: 500;
  text-align: center;
}
.frame-parent65,
.instagram-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.instagram-parent {
  flex-direction: column;
  gap: var(--gap-mini);
  text-align: left;
  font-size: var(--sub-heading-2-size);
}
.frame-parent65 {
  flex-direction: row;
  gap: 100px;
}
.agregar-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-21xl);
  background-color: var(--color-orange);
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ingresa-tu-imail-aqui-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 128px;
}
.line-div {
  position: relative;
  border-top: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 464px;
  height: 1px;
}
.frame-parent66 {
  flex-direction: column;
  gap: 18px;
  text-align: left;
  font-size: var(--button-1-size);
  color: var(--color-gray-100);
}
.frame-parent64,
.frame-parent66,
.ingresa-tu-correo-para-mas-inf-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ingresa-tu-correo-para-mas-inf-parent {
  flex-direction: column;
  gap: var(--gap-31xl);
}
.frame-parent64 {
  position: absolute;
  top: 79px;
  left: 0;
  flex-direction: row;
  gap: 282px;
}
.icon-food-salad {
  position: absolute;
  top: 0;
  left: 555px;
  background-color: var(--color-white);
  width: 100px;
  height: 100px;
}
.frame-parent63 {
  position: relative;
  width: 1299px;
  height: 219px;
  margin-top: -100px;
  text-align: center;
  color: var(--color-black);
}
.footer-section,
.frame4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-section {
  padding: var(--padding-31xl) var(--padding-81xl) var(--padding-81xl);
  margin-top: -46px;
  font-size: var(--sub-heading-1-size);
  color: var(--color-darkgreen);
}
.frame4 {
  position: absolute;
  top: 4336px;
  left: 0;
  width: 1499px;
  height: 941px;
  overflow: hidden;
  color: var(--color-white);
}
.pasion-artesana {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 5337px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-2-size);
  color: var(--color-black);
  font-family: var(--button-1);
}
