.logomuraldenoticias-icon {
  position: relative;
  width: 74px;
  height: 75px;
  object-fit: cover;
}
.magia-hecha-a1 {
  position: relative;
  font-weight: 600;
}
.logoynombremuraldenoticias {
  position: absolute;
  top: 34px;
  left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-orange);
}
/* Estilos para la disposición de las imágenes del mensaje de bienvenida para los usuarios*/
.frame28 {
  position: absolute;
  top: 34px;
  right: 24px;
  display: flex;
  align-items: center;
  width: auto; /* Cambiado el ancho a automático para adaptarse al contenido */
  height: 72.1px;
  overflow: hidden;
  flex-direction: row; /* Cambiado a dirección de fila */
  justify-content: flex-end; /* Ajuste al extremo derecho */
  padding: 0; /* Eliminar el padding para que se ajuste correctamente */
  box-sizing: border-box;
}

.loginmuraldenoticias-wrapper {
  display: flex;
  align-items: center;
}

/* Estilo para el mensaje de bienvenida */
.frame28 span.welcome-message {
  font-size: 16px; /* Tamaño de fuente del mensaje de bienvenida */
  color: black !important;
  margin-right: 10px; /* Espacio entre el mensaje y el icono de inicio de sesión */
}

/* Estilos para la imagen de inicio de sesión */
.loginmuraldenoticias-icon {
  width: 20px;
  height: 21.1px;
  cursor: pointer;
  margin-left: 10px; /* Espacio entre el mensaje y el icono de inicio de sesión */
}

/* Estilos para la imagen de cierre de sesión */
.cerrar-sesion-icon {
  width: 20px; /* Ajusta el ancho según sea necesario */
  height: 20px; /* Ajusta la altura según sea necesario */
  cursor: pointer;
  margin-left: 10px; /* Espacio entre la imagen de inicio de sesión y la de cierre de sesión */
}
.inicio2 {
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.inicionoticias {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
}
.inicio1,
.menuitemnoticias {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.menuitemnoticias {
  flex-direction: row;
  gap: var(--gap-31xl);
}
.opcionesmenunoticias {
  position: absolute;
  top: 34px;
  left: calc(50% - 245.5px);
  width: 571px;
  height: 68px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--button-1-size);
}
.mural-de-noticias1 {
  position: relative;
  letter-spacing: -0.03em;
  font-weight: 600;
}
.descubre-las-noticias {
  position: relative;
  font-size: var(--sub-heading-1-size);
  letter-spacing: -0.01em;
  font-weight: 300;
  color: var(--color-gray-200);
}
.mural-de-noticias-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
}
.mural-de-noticias-inner {
  position: absolute;
  top: 225px;
  left: calc(50% - 245.5px);
  width: 606px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--heading-2-size);
}
.fotodeperfil1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 61px;
  object-fit: cover;
}
.fotodeperfil1-wrapper {
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  width: 50px;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
}
.proxima-feria-artesanal {
  position: relative;
  letter-spacing: -1px;
  font-weight: 600;
}
.proxima-feria-artesanal-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.frame-parent43,
.frame-wrapper14,
.proxima-feria-artesanal-parent {
  display: flex;
  justify-content: flex-start;
}
.frame-parent43 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-16xl);
}
.frame-wrapper14 {
  width: 503px;
  flex-direction: column;
  align-items: flex-start;
}
.feria-artesanal-carhuello-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 507px;
  height: 307px;
  object-fit: cover;
}
.feria-artesanal-carhuello-1-wrapper {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 507px;
  height: 307px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent42 {
  height: 397px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.vector-icon28 {
  position: relative;
  width: 21px;
  height: 19.8px;
}
.div5 {
  position: relative;
  letter-spacing: -1px;
  font-weight: 500;
}
.vector-parent {
  width: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.marcador-de-posicion-1-icon13 {
  position: relative;
  width: 23px;
  height: 23px;
  object-fit: cover;
}
.pucon {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.marcador-de-posicion-1-parent11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.ubicacionylike1-inner {
  flex-direction: row;
  align-items: center;
  font-size: var(--sub-heading-2-size);
  color: var(--color-darkgreen);
}
.frame-parent41,
.ubicacionylike1,
.ubicacionylike1-inner {
  display: flex;
  justify-content: flex-start;
}
.ubicacionylike1 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-6xl);
  font-size: var(--button-1-size);
}
.frame-parent41 {
  height: 471px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xl);
}
.emprendedoras-puconinas-formar {
  margin: 0;
}
.emprendedoras-puconinas-formar-container1 {
  line-break: anywhere;
  width: 100%;
}
.emprendedoras-puconinas-formar-container {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 300;
  display: flex;
  align-items: flex-end;
  width: 510px;
}
.emprendedoras-puconinas-formar-wrapper,
.frame-parent44,
.publicacionnoticia1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.emprendedoras-puconinas-formar-wrapper {
  font-size: var(--sub-heading-2-size);
}
.frame-parent44,
.publicacionnoticia1 {
  height: 471px;
  gap: var(--gap-8xl);
}
.publicacionnoticia1 {
  position: absolute;
  height: 27.94%;
  width: calc(100% - 121px);
  top: 18.77%;
  right: 58px;
  bottom: 53.29%;
  left: 63px;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding-15xl) var(--padding-28xl);
  box-sizing: border-box;
  gap: var(--gap-34xl);
}
.rodrigo-caamao {
  position: relative;
  font-size: var(--sub-heading-2-size);
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 300;
  color: var(--color-gray-200);
}
.image-10-icon {
  position: absolute;
  bottom: -345px;
  left: 0;
  width: 510px;
  height: 652px;
  object-fit: cover;
}
.esfera-28-1-icon,
.feria-artesanal-2-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 508px;
  height: 254px;
  object-fit: cover;
}
.feria-artesanal-2-1-icon {
  top: 3px;
  left: 1px;
  width: 507px;
  height: 307px;
}
.feria-artesanal-2-1-wrapper {
  position: absolute;
  top: -3px;
  left: -1px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 507px;
  height: 307px;
  overflow: hidden;
}
.frame-parent48,
.publicacionnoticia2 {
  height: 467px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.publicacionnoticia2 {
  position: absolute;
  height: 27.94%;
  width: calc(100% - 121px);
  top: 48.32%;
  right: 58px;
  bottom: 23.74%;
  left: 63px;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding-15xl) var(--padding-28xl);
  box-sizing: border-box;
  gap: var(--gap-34xl);
}
.mural-de-noticias {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1929px;
  overflow: hidden;
  text-align: left;
  font-size: var(--sub-heading-1-size);
  color: var(--color-black);
  font-family: var(--heading-3);
}
