body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgba(231, 229, 229, 0.9);
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
    height: 100vh;
}

header {
    top: 0;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    display: flex;
    align-items: center;
    margin-right: auto;
}

#appLogo {
    width: 50px;
    height: auto;
    margin-left: 20px;
    padding-bottom: 15px;
}

#appControls {
    display: flex;
    align-items: center;
    gap: 10%;
    justify-content: space-between; 
    margin-right: 600px;
    margin-left: 500px;
    gap: 60px;
}

#config {
    cursor: pointer;
    margin-left: 60px;
}

header img:not(#appLogo) {
    width: 10px;
    height: 10px;
    gap: 10px;
}


.container {
    margin-top: 90px;
}

.row {
    margin: 0;
}

.left-container,
.right-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-container {
    border-radius: 10px;
}

.right-container {
    border-radius: 10px;
    
}

.title {
    color: #36bd36;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.form-group {
    color: #36bd36;
    opacity: 0.7;
    margin-bottom: 15px;
}

textarea {
    height: 100px;
}

.btn-success {
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: center; 
}

.upload-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}
.upload-icon img {
    width: 350px;
    height: 350px;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
}

.upload-icon img:hover {
    opacity: 0.7;
    border-radius: 10px;
}

.inicio-container,
.comunidad-container,
.menu-item1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--padding-base);
    cursor: pointer;
}

.botonesmenu{
    text-decoration: none;
    color: black;
}