.oigekfb2zh3kl5-1-icon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 1281px;
  object-fit: cover;
}
.logomuraldenoticias-icon {
  position: relative;
  width: 74px;
  height: 75px;
  object-fit: cover;
}
.magia-hecha-a1 {
  position: relative;
  font-weight: 600;
  cursor: pointer;
}
.logoynombremuraldenoticias {
  position: absolute;
  top: 41px;
  left: 62px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--sub-heading-1-size);
}
.cual-es-nuestro {
  position: absolute;
  top: 158px;
  left: 66px;
  line-height: 80px;
  display: inline-block;
  color: var(--color-orange);
  width: 610px;
}
.nuestra-misin-es {
  position: relative;
  letter-spacing: -0.02em;
  display: flex;
  align-items: flex-end;
  width: 667px;
}
.nuestra-misin-es-destacar-las-wrapper {
  position: absolute;
  top: 293px;
  left: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: 25px;
  font-family: var(--font-work-sans);
}
.suscripcion-icon {
  position: relative;
  border-radius: var(--br-xl);
  width: 392px;
  height: 340px;
  object-fit: cover;
}
.suscripcion-wrapper {
  position: absolute;
  top: 662px;
  right: 55px;
  width: 402px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.suscripcion {
  position: relative;
  line-height: 80px;
  display: inline-block;
  width: 384px;
  height: 63px;
  flex-shrink: 0;
}
.captura-de-pantalla-2023-12-11 {
  position: relative;
  border-radius: var(--br-xl);
  width: 392px;
  height: 325px;
  object-fit: cover;
}
.captura-de-pantalla-2023-12-11-wrapper,
.suscripcion-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.captura-de-pantalla-2023-12-11-wrapper {
  padding: var(--padding-3xs);
}
.suscripcion-parent {
  position: absolute;
  top: 189px;
  right: 55px;
  color: var(--color-darkgreen);
}
.sobrenosotros {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1281px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-1-size);
  color: var(--color-white);
  font-family: var(--heading-3);
}
